@mixin Titles-1W {
  font-family: WulkanDisplayCDPQ;
  font-size: 100px;
  font-weight: 600;
  line-height: 0.8;
}

@mixin Heading-1 {
  font-family: Inter;
  font-size: 55px;
  font-weight: 600;
  line-height: 1.16;
}

@mixin Heading-1W {
  font-family: WulkanDisplayCDPQ;
  font-size: 55px;
  font-weight: 600;
  line-height: 1.16;
}

@mixin Heading-2W {
  font-family: WulkanDisplayCDPQ;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
}

@mixin Heading-2 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.32px;
}

@mixin Heading-3 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

@mixin Paragraph-Large-Bold {
  font-family: Inter;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.6;
}

@mixin Link-Large {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
}

@mixin Paragraph-Large {
  font-family: Inter;
  font-size: 20px;
  line-height: 1.6;
}

@mixin Paragraph-Medium-default-Bold {
  font-family: Inter;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
}

@mixin Link-Medium {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67;
}

@mixin Heading-4 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.39;
  letter-spacing: -0.18px;
}

@mixin Paragraph-Medium {
  font-family: Inter;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.18px;
}

@mixin Paragraph-Medium-default {
  font-family: Inter;
  font-size: 18px;
  line-height: 1.67;
}

@mixin Paragraph-Small-Bold {
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.75;
}

@mixin Label-Medium-Bold {
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}

@mixin Link-Small {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.75;
}

@mixin Heading-5 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}

@mixin Quotation-Small-Italic {
  font-family: Inter;
  font-size: 16px;
  font-style: italic;
  line-height: 1.75;
}

@mixin Label-Medium-Regular {
  font-family: Inter;
  font-size: 16px;
  line-height: 1.5;
}

@mixin Paragraph-Small {
  font-family: Inter;
  font-size: 16px;
  line-height: 1.75;
}

@mixin Label-Small-Bold {
  font-family: Inter;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
}

@mixin Heading-6 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  letter-spacing: 0.28px;
}

@mixin Label-Small-Regular {
  font-family: Inter;
  font-size: 14px;
  line-height: 1.43;
}

@mixin Tools-Annotation-Text {
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
}

@mixin Label-X-Small-Bold {
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.67;
}

@mixin Link-X-Small-uppercase-no-underline {
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.67;
}

@mixin Label-X-Small-Regular {
  font-family: Inter;
  font-size: 12px;
  line-height: 1.33;
}
