* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Roboto';
  font-size: 14px;
  color: white;
}

li {
  font-family: 'Roboto';
  font-size: 14px;
  color: white;
  list-style-type: none;
}

ul {
  line-height: 30px;
}

label {
  font-family: 'Roboto';
  font-size: 14px;
  text-transform: uppercase;
  color: #bfbfbf;
  letter-spacing: 0.05em;
}

footer {
  width: 100%;
  padding-top: 68px;
  padding-bottom: 68px;
  background-color: #121212;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.wrapper {
  width: 100%;
  justify-self: center;
  overflow-x: visible;
  height: auto;
  max-width: calc(100vw - 48px);
}

.grid-container {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  grid-template-columns: 1fr;
}

.social-media {
  display: grid;
  gap: 10px;
  grid-template-columns: 30px 30px 30px 30px;
  margin-top: 30px;
}

.logo {
  padding-bottom: 30px;
}

.copyright {
  font-size: 12px;
  color: #717176;
}
.area1 {
  grid-area: area1;
  padding-bottom: 30px;
}
.area2 {
  grid-area: area2;
  padding-bottom: 30px;
}
.area3 {
  grid-area: area3;
  padding-bottom: 30px;
}
.area4 {
  grid-area: area4;
  padding-bottom: 30px;
}
.area5 {
  grid-area: area5;
  padding-bottom: 30px;
}
.area6 {
  grid-area: area6;
}

@media only screen and (min-width: 768px) {
  footer {
    padding-top: 89px;
    padding-bottom: 89px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'area1 area1 area1 area1 area2 area2 area2 area2 area3 area3 area3 area3'
      '1fr 1fr 1fr 1fr area4 area4 area4 area4 area5 area5 area5 area5'
      'area6 area6 area6 area6 area6 area6 area6 area6 area6 area6 area6 area6';
  }
}
@media only screen and (min-width: 1024px) {
  .grid-container {
    gap: 0px 20px;
    grid-template-rows: 1fr auto;
    grid-row-gap: 30px;
    grid-template-areas:
      'area1 area1 area1 area1 area2 area2 area3 area3 area4 area4 area5 area5'
      'area6 area6 area6 area6 area6 area6 area6 area6 area6 area6 area6 area6';
  }
}
