# old browsers
# last 2 versions
# safari >= 9
# not ie <= 10
# not ie_mob > 0
# not dead

# modern browsers
Firefox >= 62
FirefoxAndroid  >= 62
Chrome >= 66
ChromeAndroid >= 66
Safari >= 11
iOS >= 11
