# IDEs
.vs
.idea

# system
Thumbs.db
ehthumbs.db
.DS_Store
logs
*.log
*.swp
pids
*.pid
*.seed
*.iml
.lock-wscript

# certificates
*.pem

# npm
node_modules
npm-debug.log

# lerna
lerna-debug.log

# packages
packages/**/dist/
packages/**/package-lock.json
packages/**/bin/
packages/**/lib/
packages/**/charts/
packages/test-*

# jest
_reports
__metrics__
junit.xml

# server

# docker
.docker
docker-compose-ci.yml

# kubernetes
cluster-kubeconfig.yaml
credentials-velero
credentials
*.secret.yaml
*secrets.yaml

# gatsby
packages/**/public/
.cache
static/admin/*.bundle.*

# nextjs & vercel
.next
.vercel

# others
lib-cov
/tsd_typings/

# env
.env*
!.env.test

# diez
tsconfig.tsbuildinfo
.diez
