prefer-offline=true
fund=false
unsafe-perm=true
audit=false
loglevel=silent
progress=false
registry=https://registry.npmjs.org

# GSAP
always-auth=true
//npm.greensock.com/:_authToken=02e72d3c-39e5-472d-9e6f-9addbedd48cc
