@import '../styles/colors.scss';

body {
  display: flex;
  justify-content: center;
  background-color: #272727;

  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}
