$breakpoint-mobile-x-small: 320px;
$breakpoint-mobile-small: 375px;
$breakpoint-mobile-medium: 414px;
$breakpoint-tablet-portrait: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-desktop-small: 1280px;
$breakpoint-desktop-medium: 1440px;
$breakpoint-desktop-large: 1600px;
$breakpoint-desktop-x-large: 1920px;

@mixin scaling($font-size-mobile, $font-size-desktop) {
  $min-viewport: $breakpoint-mobile-x-small;
  $max-viewport: $breakpoint-desktop-medium;

  $font-size-min: $font-size-mobile;
  $font-size-max: $font-size-desktop;

  font-size: $font-size-min;

  $font-variation: ($font-size-max - $font-size-min) / ($max-viewport - $min-viewport);

  $font-b: $font-size-max - ($font-variation * $max-viewport);

  @media (min-width: $min-viewport) {
    font-size: calc(#{$font-variation * 100}vw + #{$font-b});
  }
  // cap font size decrease
  @media (min-width: $max-viewport) {
    font-size: $font-size-max;
  }
}

// examples of media queries

// mobile

@media only screen and (max-width: $breakpoint-mobile-small) {
}

@media only screen and (max-width: $breakpoint-mobile-medium) {
}

// @media only screen and (max-width: $breakpoint-mobile-large) {
// }

// @media only screen and (max-width: $breakpoint-mobile-large) {
// }

// tablet

@media only screen and (min-width: $breakpoint-tablet-portrait) {
  // for portrait layouts only
}

@media only screen and (min-width: $breakpoint-tablet-portrait) and (max-width: $breakpoint-tablet-landscape) and (orientation: landscape) {
  // for landscape layouts only
}

// desktop

@media only screen and (min-width: $breakpoint-desktop-small) {
}

@media only screen and (min-width: $breakpoint-desktop-medium) {
}

@media only screen and (min-width: $breakpoint-desktop-large) {
}
