$breakpoint-mobile-x-small: 320px;
$breakpoint-mobile-small: 375px;
$breakpoint-mobile-medium: 414px;
$breakpoint-tablet-portrait: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-desktop-small: 1024px;
$breakpoint-desktop-medium: 1440px;
$breakpoint-desktop-large: 1600px;
$breakpoint-desktop-x-large: 1920px;

// examples of media queries

// mobile

@media only screen and (max-width: $breakpoint-mobile-small) {
}

@media only screen and (max-width: $breakpoint-mobile-medium) {
}

// @media only screen and (max-width: $breakpoint-mobile-large) {
// }

// @media only screen and (max-width: $breakpoint-mobile-large) {
// }

// tablet

@media only screen and (min-width: $breakpoint-tablet-portrait) {
  // for portrait layouts only
}

@media only screen and (min-width: $breakpoint-tablet-portrait) and (max-width: $breakpoint-tablet-landscape) and (orientation: landscape) {
  // for landscape layouts only
}

// desktop

@media only screen and (min-width: $breakpoint-desktop-small) {
}

@media only screen and (min-width: $breakpoint-desktop-medium) {
}

@media only screen and (min-width: $breakpoint-desktop-large) {
}
