$accent1100: hsla(40.8, 92.59259259259261%, 94.70588235294117%, 1);
$accent11000: hsla(39.42857142857143, 94.59459459459458%, 21.764705882352942%, 1);
$accent1300: hsla(39.74025974025973, 95.06172839506175%, 84.11764705882354%, 1);
$accent1500: hsla(39.51219512195122, 95.34883720930233%, 57.843137254901954%, 1);
$accent1700: hsla(39.54545454545455, 95.65217391304346%, 36.078431372549026%, 1);
$greyscale-inverted: hsla(0, 0%, 100%, 1);
$greyscale-transparent: hsla(0, 0%, 100%, 1);
$greyscale0: hsla(0, 0%, 100%, 1);
$greyscale100-white: hsla(0, 0%, 100%, 1);
$greyscale100: hsla(220.00000000000009, 25.00000000000006%, 95.29411764705881%, 1);
$greyscale1000: hsla(240, 9.67741935483871%, 6.078431372549019%, 1);
$greyscale150: hsla(217.50000000000006, 17.391304347826093%, 90.98039215686275%, 1);
$greyscale200-white: hsla(0, 0%, 100%, 1);
$greyscale200: hsla(215.99999999999991, 27.777777777777747%, 92.94117647058823%, 1);
$greyscale300: hsla(212.7272727272728, 15.492957746478858%, 86.07843137254902%, 1);
$greyscale400: hsla(211.57894736842104, 15.447154471544703%, 75.88235294117646%, 1);
$greyscale500: hsla(212.14285714285714, 15.217391304347819%, 63.921568627450974%, 1);
$greyscale600: hsla(235, 9.917355371900822%, 52.54901960784314%, 1);
$greyscale700: hsla(234.2857142857143, 10.047846889952151%, 40.98039215686274%, 1);
$greyscale800: hsla(235.71428571428572, 9.459459459459456%, 29.01960784313725%, 1);
$greyscale900: hsla(233.33333333333337, 10.344827586206891%, 17.058823529411764%, 1);
$primary100: hsla(228.2608695652174, 85.18518518518518%, 89.41176470588235%, 1);
$primary1000: hsla(228.75, 86.48648648648648%, 14.509803921568626%, 1);
$primary300: hsla(228.1034482758621, 86.56716417910451%, 73.72549019607844%, 1);
$primary500: hsla(228.32432432432435, 86.04651162790698%, 57.843137254901954%, 1);
$primary700: hsla(228.37696335078533, 86.42533936651583%, 43.333333333333336%, 1);
$shadows-shadow-large-filter: drop-shadow(0px 2px 17px hsla(0, 0%, 60.78431372549019%, 0.5));
$shadows-shadow-large: 0px 2px 34px hsla(0, 0%, 60.78431372549019%, 0.5);
$shadows-utility-light-artboard-shadow-filter: drop-shadow(0px 3px 3px hsla(0, 0%, 0%, 0.11999999731779099));
$shadows-utility-light-artboard-shadow: 0px 3px 6px hsla(0, 0%, 0%, 0.11999999731779099);
$shadows-utility-light-color-swatch-shadow-filter: drop-shadow(0px 2px 2.5px hsla(0, 0%, 0%, 0.2800000011920929));
$shadows-utility-light-color-swatch-shadow: 0px 2px 5px hsla(0, 0%, 0%, 0.2800000011920929);
$shadows-utility-light-color-swatch-shadow1-filter: drop-shadow(0px 2px 2.5px hsla(0, 0%, 0%, 0.2800000011920929));
$shadows-utility-light-color-swatch-shadow1: 0px 2px 5px hsla(0, 0%, 0%, 0.2800000011920929);
$shadows-utility-light-color-swatch-shadow2-filter: drop-shadow(0px 2px 2.5px hsla(0, 0%, 0%, 0.2800000011920929));
$shadows-utility-light-color-swatch-shadow2: 0px 2px 5px hsla(0, 0%, 0%, 0.2800000011920929);
$utility-green100: hsla(120, 80.00000000000006%, 94.11764705882352%, 1);
$utility-green1000: hsla(120, 76.47058823529413%, 20%, 1);
$utility-green300: hsla(120, 76.66666666666664%, 76.47058823529412%, 1);
$utility-green500: hsla(120, 76.66666666666664%, 52.94117647058824%, 1);
$utility-green700: hsla(120, 77.22772277227722%, 39.6078431372549%, 1);
$utility-light-greyscale-almost-transparent: hsla(0, 0%, 100%, 0.00009999999747378752);
$utility-light-greyscale-almost-transparent1: hsla(0, 0%, 100%, 0.00009999999747378752);
$utility-light-greyscale-almost-transparent10: hsla(0, 0%, 100%, 0.00009999999747378752);
$utility-light-greyscale-almost-transparent2: hsla(0, 0%, 100%, 0.00009999999747378752);
$utility-light-greyscale-almost-transparent3: hsla(0, 0%, 100%, 0.00009999999747378752);
$utility-light-greyscale-almost-transparent4: hsla(0, 0%, 100%, 0.00009999999747378752);
$utility-light-greyscale-almost-transparent5: hsla(0, 0%, 100%, 0.00009999999747378752);
$utility-light-greyscale-almost-transparent6: hsla(0, 0%, 100%, 0.00009999999747378752);
$utility-light-greyscale-almost-transparent7: hsla(0, 0%, 100%, 0.00009999999747378752);
$utility-light-greyscale-almost-transparent8: hsla(0, 0%, 100%, 0.00009999999747378752);
$utility-light-greyscale-almost-transparent9: hsla(0, 0%, 100%, 0.00009999999747378752);
$utility-light-greyscale-black: hsla(0, 0%, 16.862745098039216%, 1);
$utility-light-greyscale-grey-light: hsla(0, 0%, 87.84313725490196%, 1);
$utility-light-greyscale-grey-medium: hsla(0, 0%, 27.058823529411764%, 1);
$utility-light-greyscale-grey-medium1: hsla(0, 0%, 27.058823529411764%, 1);
$utility-light-greyscale-grey-medium2: hsla(0, 0%, 27.058823529411764%, 1);
$utility-light-greyscale-grey-medium3: hsla(0, 0%, 27.058823529411764%, 1);
$utility-light-greyscale-transparent: hsla(0, 0%, 100%, 1);
$utility-red100: hsla(0, 80.00000000000006%, 96.07843137254902%, 1);
$utility-red1000: hsla(0, 76.47058823529413%, 20%, 1);
$utility-red300: hsla(0, 76.66666666666664%, 76.47058823529412%, 1);
$utility-red500: hsla(0, 76.66666666666664%, 52.94117647058824%, 1);
$utility-red700: hsla(0, 77.51479289940829%, 33.13725490196078%, 1);
$utility-yellow100: hsla(50.76923076923074, 86.66666666666671%, 94.11764705882352%, 1);
$utility-yellow1000: hsla(52.631578947368425, 85.07462686567163%, 13.137254901960786%, 1);
$utility-yellow300: hsla(51.904761904761905, 83.99999999999997%, 70.58823529411764%, 1);
$utility-yellow500: hsla(51.98019801980197, 84.16666666666669%, 52.94117647058824%, 1);
$utility-yellow700: hsla(52.340425531914896, 83.43195266272188%, 33.13725490196078%, 1);

//Color added by Elliot manually
$light-effect-transparent: rgba(39, 40, 48, 0.47);
