@mixin typography-paragraph-large {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
  letter-spacing: 0.5px;

  line-height: 43.5px;

  // capsize fix
  // ajusted to have a bounding box of 21px
  font-size: 30px;
  line-height: 44px;
  padding: 0.05px 0;

  &::before {
    content: '';
    margin-top: -0.3935em;
    display: block;
    height: 0;
  }

  &::after {
    content: '';
    margin-bottom: -0.3765em;
    display: block;
    height: 0;
  }
}

@mixin typography-paragraph-medium {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.5px;

  line-height: 28px;

  // capsize fix
  // ajusted to have a bounding box of 13px
  font-size: 18.5714px;
  line-height: 29px;
  padding: 0.05px 0;

  // &::before {
  //   content: '';
  //   margin-top: -0.442em;
  //   display: block;
  //   height: 0;
  // }

  // &::after {
  //   content: '';
  //   margin-bottom: -0.425em;
  //   display: block;
  //   height: 0;
  // }
}

@mixin typography-paragraph-small {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.5px;
  letter-spacing: 0.5px;

  line-height: 22px;

  // capsize fix
  // ajusted to have a bounding box of 9px
  font-size: 12.8571px;
  line-height: 22px;
  padding: 0.05px 0;

  // &::before {
  //   content: '';
  //   margin-top: -0.5179em;
  //   display: block;
  //   height: 0;
  // }

  // &::after {
  //   content: '';
  //   margin-bottom: -0.5009em;
  //   display: block;
  //   height: 0;
  // }
}

@mixin typography-label-medium-uppercase-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 2px;

  text-transform: uppercase;
  line-height: 13px;

  // capsize fix
  // ajusted to have a bounding box of 13px
  font-size: 18.5714px;
  line-height: 26px;
  padding: 0.05px 0;

  &::before {
    content: '';
    margin-top: -0.3612em;
    display: block;
    height: 0;
  }

  &::after {
    content: '';
    margin-bottom: -0.3442em;
    display: block;
    height: 0;
  }
}

@mixin typography-label-medium-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 1px;

  line-height: 13px;

  // capsize fix
  // ajusted to have a bounding box of 13px
  font-size: 18.5714px;
  line-height: 26px;
  padding: 0.05px 0;

  // &::before {
  //   content: '';
  //   margin-top: -0.3612em;
  //   display: block;
  //   height: 0;
  // }

  // &::after {
  //   content: '';
  //   margin-bottom: -0.3442em;
  //   display: block;
  //   height: 0;
  // }
}

@mixin typography-label-medium-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 1px;

  line-height: 13px;

  // capsize fix
  // ajusted to have a bounding box of 13px
  font-size: 18.5714px;
  line-height: 26px;
  padding: 0.05px 0;

  // &::before {
  //   content: '';
  //   margin-top: -0.3612em;
  //   display: block;
  //   height: 0;
  // }

  // &::after {
  //   content: '';
  //   margin-bottom: -0.3442em;
  //   display: block;
  //   height: 0;
  // }
}

@mixin typography-label-small-uppercase-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 2px;

  text-transform: uppercase;
  line-height: 9px;

  // capsize fix
  // ajusted to have a bounding box of 9px
  font-size: 12px;
  line-height: 18px;
  padding: 0.05px 0;

  &::before {
    content: '';
    margin-top: -4.04px;
    display: block;
    height: 0;
  }

  &::after {
    content: '';
    margin-bottom: -5.07px;
    display: block;
    height: 0;
  }
}

@mixin typography-label-small-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 1px;

  line-height: 9px;

  // capsize fix
  // ajusted to have a bounding box of 9px
  font-size: 12px;
  line-height: 18px;
  padding: 0.05px 0;

  &::before {
    content: '';
    margin-top: -4.04px;
    display: block;
    height: 0;
  }

  &::after {
    content: '';
    margin-bottom: -5.07px;
    display: block;
    height: 0;
  }
}

@mixin typography-label-small-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.36px;

  line-height: 9px;

  // capsize fix
  // ajusted to have a bounding box of 9px
  font-size: 12px;
  line-height: 18px;
  padding: 0.05px 0;

  &::before {
    content: '';
    margin-top: -4.04px;
    display: block;
    height: 0;
  }

  &::after {
    content: '';
    margin-bottom: -5.07px;
    display: block;
    height: 0;
  }
}
