@import '../../styles/colors.scss';
@import '../../styles/sizing.scss';
@import '../../styles/fonts';
@import '../../styles/typography';
@import '../../styles/layout';
@import '../../styles/breakpoints.scss';

// MOBILE CHANGE

.wrapper {
  background-color: $primary500;
}

.container {
  margin: $margin-content;
}

.formulaire {
  display: grid;
  padding-bottom: $sizing-x6;
  input {
    margin-bottom: $sizing-x3;
  }
}

.subtitle {
  text-align: center;
  padding-top: $sizing-x5;
  color: $greyscale-inverted;
}

.title {
  padding: $sizing-x5 0;
  text-align: center;
  color: $greyscale-inverted;
}

// TABLET CHANGE

@media only screen and (min-device-width: $breakpoint-tablet-portrait) and (max-width: $breakpoint-tablet-landscape) and (orientation: portrait) {
  // for portrait layouts only
  .wrapper {
    padding: 0 $margin-content-tablet;
  }
  .container {
    padding: $sizing-x6 0;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 'content content content content content content . form form form form .';
    grid-template-rows: auto;
    column-gap: 20px;
  }
  .content {
    grid-area: content;
  }

  .containerForm {
    grid-area: form;
  }

  .formulaire {
    display: grid;

    input {
      margin-bottom: $sizing-x3;
    }
  }
  .subtitle {
    text-align: left;
    padding-bottom: $sizing-x3;
  }

  .title {
    padding-top: $sizing-x3;
    text-align: left;
  }
}

// DESKTOP CHANGE

@media only screen and (min-width: $breakpoint-desktop-small) {
  // for desktop layouts
  .wrapper {
    padding: 0 $margin-content;
  }

  .container {
    max-width: 1200px;
    padding: $sizing-x6 0;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 'content content content content content content content . form form form form';
    grid-template-rows: auto;
    column-gap: 20px;
  }

  .content {
    grid-area: content;
  }

  .containerForm {
    grid-area: form;
  }

  .formulaire {
    display: grid;

    input {
      margin-bottom: $sizing-x3;
    }
  }

  .subtitle {
    text-align: left;
    padding-bottom: $sizing-x3;
  }

  .title {
    padding-top: $sizing-x3;
    text-align: left;
  }
}

@media only screen and (min-width: $breakpoint-desktop-medium) {
  .container {
    grid-template-areas: 'content content content content content . form form form . . .';
  }
}
