@import '../../styles/colors.scss';
@import '../../styles/sizing.scss';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 22px;
  min-height: 248px;
  height: 248px;
  width: 248px;
}

.content {
  display: grid;
  grid-row-gap: $sizing-x3;
  justify-items: center;
}

.default {
  color: $greyscale1000;
}

.reversed {
  color: $greyscale-inverted;
}

.illustration {
  path {
    fill: currentColor;
  }
}

.background-illustration {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  path {
    fill: inherit;
    stroke: currentColor;
    width: 100%;
  }
}

.text {
  text-align: center !important;
}
