:root{
  --buttons-variants-primary-text-color:hsl(222, 10%, 100%, 1);
  --buttons-variants-primary-text-color-active:hsl(222, 10%, 100%, 1);
  --buttons-variants-primary-text-color-disabled:hsl(222, 6%, 73%, 1);
  --buttons-variants-primary-icon-color:hsl(222, 10%, 100%, 1);
  --buttons-variants-primary-icon-color-active:hsl(222, 10%, 100%, 1);
  --buttons-variants-primary-icon-color-disabled:hsl(222, 10%, 100%, 1);
  --buttons-variants-primary-background-color:hsl(222, 50%, 50%, 1);
  --buttons-variants-primary-background-color-active:hsl(222, 50%, 32%, 1);
  --buttons-variants-primary-background-color-disabled:hsl(222, 6%, 90%, 1);
  --buttons-variants-primary-border-color:hsl(222, 50%, 50%, 1);
  --buttons-variants-primary-border-color-active:hsl(222, 50%, 50%, 1);
  --buttons-variants-primary-border-color-disabled:hsl(222, 6%, 90%, 1);
  --buttons-variants-primary-outline-color:hsl(222, 50%, 50%, 1);
  --buttons-variants-primary-outline-color-active:hsl(222, 50%, 50%, 1);
  --buttons-variants-primary-outline-color-disabled:hsl(222, 50%, 50%, 1);
  --buttons-variants-secondary-text-color:hsl(222, 50%, 50%, 1);
  --buttons-variants-secondary-text-color-active:hsl(222, 50%, 50%, 1);
  --buttons-variants-secondary-text-color-disabled:hsl(222, 6%, 73%, 1);
  --buttons-variants-secondary-icon-color:hsl(222, 50%, 50%, 1);
  --buttons-variants-secondary-icon-color-active:hsl(222, 50%, 50%, 1);
  --buttons-variants-secondary-icon-color-disabled:hsl(222, 50%, 50%, 1);
  --buttons-variants-secondary-background-color:hsl(0, 0%, 0%, 0);
  --buttons-variants-secondary-background-color-active:hsl(222, 50%, 86%, 1);
  --buttons-variants-secondary-background-color-disabled:hsl(222, 6%, 90%, 1);
  --buttons-variants-secondary-border-color:hsl(222, 50%, 50%, 1);
  --buttons-variants-secondary-border-color-active:hsl(222, 50%, 50%, 1);
  --buttons-variants-secondary-border-color-disabled:hsl(222, 6%, 90%, 1);
  --buttons-variants-secondary-outline-color:hsl(222, 50%, 50%, 1);
  --buttons-variants-secondary-outline-color-active:hsl(222, 50%, 50%, 1);
  --buttons-variants-secondary-outline-color-disabled:hsl(222, 50%, 50%, 1);
  --buttons-variants-tertiary-text-color:hsl(222, 50%, 50%, 1);
  --buttons-variants-tertiary-text-color-active:hsl(222, 50%, 50%, 1);
  --buttons-variants-tertiary-text-color-disabled:hsl(222, 6%, 73%, 1);
  --buttons-variants-tertiary-icon-color:hsl(222, 50%, 50%, 1);
  --buttons-variants-tertiary-icon-color-active:hsl(222, 50%, 50%, 1);
  --buttons-variants-tertiary-icon-color-disabled:hsl(222, 50%, 50%, 1);
  --buttons-variants-tertiary-background-color:hsl(0, 0%, 0%, 0);
  --buttons-variants-tertiary-background-color-active:hsl(222, 50%, 86%, 1);
  --buttons-variants-tertiary-background-color-disabled:hsl(222, 6%, 90%, 1);
  --buttons-variants-tertiary-border-color:hsl(0, 0%, 0%, 0);
  --buttons-variants-tertiary-border-color-active:hsl(0, 0%, 0%, 0);
  --buttons-variants-tertiary-border-color-disabled:hsl(222, 6%, 90%, 1);
  --buttons-variants-tertiary-outline-color:hsl(222, 50%, 50%, 1);
  --buttons-variants-tertiary-outline-color-active:hsl(222, 50%, 50%, 1);
  --buttons-variants-tertiary-outline-color-disabled:hsl(222, 50%, 50%, 1);
  --buttons-variants-positive-text-color:hsl(222, 10%, 100%, 1);
  --buttons-variants-positive-text-color-active:hsl(222, 10%, 100%, 1);
  --buttons-variants-positive-text-color-disabled:hsl(222, 6%, 73%, 1);
  --buttons-variants-positive-icon-color:hsl(222, 10%, 100%, 1);
  --buttons-variants-positive-icon-color-active:hsl(222, 10%, 100%, 1);
  --buttons-variants-positive-icon-color-disabled:hsl(222, 10%, 100%, 1);
  --buttons-variants-positive-background-color:hsl(112, 71%, 53%, 1);
  --buttons-variants-positive-background-color-active:hsl(112, 71%, 32%, 1);
  --buttons-variants-positive-background-color-disabled:hsl(222, 6%, 90%, 1);
  --buttons-variants-positive-border-color:hsl(112, 71%, 53%, 1);
  --buttons-variants-positive-border-color-active:hsl(112, 71%, 53%, 1);
  --buttons-variants-positive-border-color-disabled:hsl(222, 6%, 90%, 1);
  --buttons-variants-positive-outline-color:hsl(112, 71%, 53%, 1);
  --buttons-variants-positive-outline-color-active:hsl(112, 71%, 53%, 1);
  --buttons-variants-positive-outline-color-disabled:hsl(112, 71%, 53%, 1);
  --buttons-variants-warning-text-color:hsl(222, 10%, 100%, 1);
  --buttons-variants-warning-text-color-active:hsl(222, 10%, 100%, 1);
  --buttons-variants-warning-text-color-disabled:hsl(222, 6%, 73%, 1);
  --buttons-variants-warning-icon-color:hsl(222, 10%, 100%, 1);
  --buttons-variants-warning-icon-color-active:hsl(222, 10%, 100%, 1);
  --buttons-variants-warning-icon-color-disabled:hsl(222, 10%, 100%, 1);
  --buttons-variants-warning-background-color:hsl(47, 90%, 54%, 1);
  --buttons-variants-warning-background-color-active:hsl(47, 90%, 33%, 1);
  --buttons-variants-warning-background-color-disabled:hsl(222, 6%, 90%, 1);
  --buttons-variants-warning-border-color:hsl(47, 90%, 54%, 1);
  --buttons-variants-warning-border-color-active:hsl(47, 90%, 54%, 1);
  --buttons-variants-warning-border-color-disabled:hsl(222, 6%, 90%, 1);
  --buttons-variants-warning-outline-color:hsl(47, 90%, 54%, 1);
  --buttons-variants-warning-outline-color-active:hsl(47, 90%, 54%, 1);
  --buttons-variants-warning-outline-color-disabled:hsl(47, 90%, 54%, 1);
  --buttons-variants-danger-text-color:hsl(222, 10%, 100%, 1);
  --buttons-variants-danger-text-color-active:hsl(222, 10%, 100%, 1);
  --buttons-variants-danger-text-color-disabled:hsl(222, 6%, 73%, 1);
  --buttons-variants-danger-icon-color:hsl(222, 10%, 100%, 1);
  --buttons-variants-danger-icon-color-active:hsl(222, 10%, 100%, 1);
  --buttons-variants-danger-icon-color-disabled:hsl(222, 10%, 100%, 1);
  --buttons-variants-danger-background-color:hsl(360, 84%, 48%, 1);
  --buttons-variants-danger-background-color-active:hsl(360, 84%, 27%, 1);
  --buttons-variants-danger-background-color-disabled:hsl(222, 6%, 90%, 1);
  --buttons-variants-danger-border-color:hsl(360, 84%, 48%, 1);
  --buttons-variants-danger-border-color-active:hsl(360, 84%, 48%, 1);
  --buttons-variants-danger-border-color-disabled:hsl(222, 6%, 90%, 1);
  --buttons-variants-danger-outline-color:hsl(360, 84%, 48%, 1);
  --buttons-variants-danger-outline-color-active:hsl(360, 84%, 48%, 1);
  --buttons-variants-danger-outline-color-disabled:hsl(360, 84%, 48%, 1);
  --buttons-sizes-large-width: ;
  --buttons-sizes-large-height:56px;
  --buttons-sizes-large-padding-default: ;
  --buttons-sizes-large-padding-left:16px;
  --buttons-sizes-large-padding-right:16px;
  --buttons-sizes-large-padding-top: ;
  --buttons-sizes-large-padding-bottom: ;
  --buttons-sizes-large-border-default-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-large-border-default-width:1px;
  --buttons-sizes-large-border-default-style:solid;
  --buttons-sizes-large-border-default-radius:4px;
  --buttons-sizes-large-border-top-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-large-border-top-width:1px;
  --buttons-sizes-large-border-top-style:solid;
  --buttons-sizes-large-border-top-radius:3px;
  --buttons-sizes-large-border-right-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-large-border-right-width:1px;
  --buttons-sizes-large-border-right-style:solid;
  --buttons-sizes-large-border-right-radius:3px;
  --buttons-sizes-large-border-bottom-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-large-border-bottom-width:1px;
  --buttons-sizes-large-border-bottom-style:solid;
  --buttons-sizes-large-border-bottom-radius:3px;
  --buttons-sizes-large-border-left-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-large-border-left-width:1px;
  --buttons-sizes-large-border-left-style:solid;
  --buttons-sizes-large-border-left-radius:3px;
  --buttons-sizes-large-outline-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-large-outline-width:1px;
  --buttons-sizes-large-outline-style:solid;
  --buttons-sizes-large-outline-radius:3px;
  --buttons-sizes-large-icon-size:24px;
  --buttons-sizes-large-icon-margin-left:10px;
  --buttons-sizes-large-icon-margin-right:10px;
  --buttons-sizes-large-icon-margin-top: ;
  --buttons-sizes-large-icon-margin-bottom: ;
  --buttons-sizes-large-icon-padding:12px;
  --buttons-sizes-large-icon-only-padding:6px;
  --buttons-sizes-medium-width: ;
  --buttons-sizes-medium-height:40px;
  --buttons-sizes-medium-padding-default: ;
  --buttons-sizes-medium-padding-left:10px;
  --buttons-sizes-medium-padding-right:10px;
  --buttons-sizes-medium-padding-top: ;
  --buttons-sizes-medium-padding-bottom: ;
  --buttons-sizes-medium-border-default-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-medium-border-default-width:1px;
  --buttons-sizes-medium-border-default-style:solid;
  --buttons-sizes-medium-border-default-radius:4px;
  --buttons-sizes-medium-border-top-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-medium-border-top-width:1px;
  --buttons-sizes-medium-border-top-style:solid;
  --buttons-sizes-medium-border-top-radius:3px;
  --buttons-sizes-medium-border-right-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-medium-border-right-width:1px;
  --buttons-sizes-medium-border-right-style:solid;
  --buttons-sizes-medium-border-right-radius:3px;
  --buttons-sizes-medium-border-bottom-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-medium-border-bottom-width:1px;
  --buttons-sizes-medium-border-bottom-style:solid;
  --buttons-sizes-medium-border-bottom-radius:3px;
  --buttons-sizes-medium-border-left-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-medium-border-left-width:1px;
  --buttons-sizes-medium-border-left-style:solid;
  --buttons-sizes-medium-border-left-radius:3px;
  --buttons-sizes-medium-outline-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-medium-outline-width:1px;
  --buttons-sizes-medium-outline-style:solid;
  --buttons-sizes-medium-outline-radius:3px;
  --buttons-sizes-medium-icon-size:16px;
  --buttons-sizes-medium-icon-margin-left:10px;
  --buttons-sizes-medium-icon-margin-right:10px;
  --buttons-sizes-medium-icon-margin-top: ;
  --buttons-sizes-medium-icon-margin-bottom: ;
  --buttons-sizes-medium-icon-padding:10px;
  --buttons-sizes-medium-icon-only-padding:6px;
  --buttons-sizes-small-width: ;
  --buttons-sizes-small-height:32px;
  --buttons-sizes-small-padding-default: ;
  --buttons-sizes-small-padding-left:8px;
  --buttons-sizes-small-padding-right:8px;
  --buttons-sizes-small-padding-top: ;
  --buttons-sizes-small-padding-bottom: ;
  --buttons-sizes-small-border-default-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-small-border-default-width:1px;
  --buttons-sizes-small-border-default-style:solid;
  --buttons-sizes-small-border-default-radius:3px;
  --buttons-sizes-small-border-top-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-small-border-top-width:1px;
  --buttons-sizes-small-border-top-style:solid;
  --buttons-sizes-small-border-top-radius:3px;
  --buttons-sizes-small-border-right-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-small-border-right-width:1px;
  --buttons-sizes-small-border-right-style:solid;
  --buttons-sizes-small-border-right-radius:3px;
  --buttons-sizes-small-border-bottom-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-small-border-bottom-width:1px;
  --buttons-sizes-small-border-bottom-style:solid;
  --buttons-sizes-small-border-bottom-radius:3px;
  --buttons-sizes-small-border-left-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-small-border-left-width:1px;
  --buttons-sizes-small-border-left-style:solid;
  --buttons-sizes-small-border-left-radius:3px;
  --buttons-sizes-small-outline-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-small-outline-width:1px;
  --buttons-sizes-small-outline-style:solid;
  --buttons-sizes-small-outline-radius:3px;
  --buttons-sizes-small-icon-size:16px;
  --buttons-sizes-small-icon-margin-left:10px;
  --buttons-sizes-small-icon-margin-right:10px;
  --buttons-sizes-small-icon-margin-top: ;
  --buttons-sizes-small-icon-margin-bottom: ;
  --buttons-sizes-small-icon-padding:8px;
  --buttons-sizes-small-icon-only-padding:6px;
  --buttons-sizes-x-small-width: ;
  --buttons-sizes-x-small-height:24px;
  --buttons-sizes-x-small-padding-default: ;
  --buttons-sizes-x-small-padding-left:6px;
  --buttons-sizes-x-small-padding-right:6px;
  --buttons-sizes-x-small-padding-top: ;
  --buttons-sizes-x-small-padding-bottom: ;
  --buttons-sizes-x-small-border-default-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-x-small-border-default-width:1px;
  --buttons-sizes-x-small-border-default-style:solid;
  --buttons-sizes-x-small-border-default-radius:3px;
  --buttons-sizes-x-small-border-top-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-x-small-border-top-width:1px;
  --buttons-sizes-x-small-border-top-style:solid;
  --buttons-sizes-x-small-border-top-radius:3px;
  --buttons-sizes-x-small-border-right-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-x-small-border-right-width:1px;
  --buttons-sizes-x-small-border-right-style:solid;
  --buttons-sizes-x-small-border-right-radius:3px;
  --buttons-sizes-x-small-border-bottom-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-x-small-border-bottom-width:1px;
  --buttons-sizes-x-small-border-bottom-style:solid;
  --buttons-sizes-x-small-border-bottom-radius:3px;
  --buttons-sizes-x-small-border-left-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-x-small-border-left-width:1px;
  --buttons-sizes-x-small-border-left-style:solid;
  --buttons-sizes-x-small-border-left-radius:3px;
  --buttons-sizes-x-small-outline-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-x-small-outline-width:1px;
  --buttons-sizes-x-small-outline-style:solid;
  --buttons-sizes-x-small-outline-radius:3px;
  --buttons-sizes-x-small-icon-size:16px;
  --buttons-sizes-x-small-icon-margin-left:10px;
  --buttons-sizes-x-small-icon-margin-right:10px;
  --buttons-sizes-x-small-icon-margin-top: ;
  --buttons-sizes-x-small-icon-margin-bottom: ;
  --buttons-sizes-x-small-icon-padding:6px;
  --buttons-sizes-x-small-icon-only-padding:6px;
}
