:root{
  --buttons-variants-primary-text-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-primary-icon-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-primary-background-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-primary-border-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-primary-outline-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-secondary-text-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-secondary-icon-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-secondary-background-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-secondary-border-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-secondary-outline-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-tertiary-text-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-tertiary-icon-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-tertiary-background-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-tertiary-border-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-tertiary-outline-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-positive-text-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-positive-icon-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-positive-background-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-positive-border-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-positive-outline-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-warning-text-color:hsl(47, 90%, 12%, 1);
  --buttons-variants-warning-icon-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-warning-background-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-warning-border-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-warning-outline-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-danger-text-color:hsl(360, 84%, 6%, 1);
  --buttons-variants-danger-icon-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-danger-background-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-danger-border-color:hsl(222, 6%, 7%, 1);
  --buttons-variants-danger-outline-color:hsl(222, 6%, 7%, 1);
  --buttons-sizes-large-width:0px;
  --buttons-sizes-large-height:0px;
  --buttons-sizes-large-padding-default:2px;
  --buttons-sizes-large-border-default-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-large-border-default-width:1px;
  --buttons-sizes-large-border-default-style:solid;
  --buttons-sizes-large-border-default-radius:3px;
  --buttons-sizes-large-background-color: ;
  --buttons-sizes-large-icon-size:16px;
  --buttons-sizes-medium-width:0px;
  --buttons-sizes-medium-height:0px;
  --buttons-sizes-medium-padding-default:2px;
  --buttons-sizes-medium-border-default-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-medium-border-default-width:1px;
  --buttons-sizes-medium-border-default-style:solid;
  --buttons-sizes-medium-border-default-radius:3px;
  --buttons-sizes-medium-background-color: ;
  --buttons-sizes-medium-icon-size:16px;
  --buttons-sizes-small-width:0px;
  --buttons-sizes-small-height:0px;
  --buttons-sizes-small-padding-default:2px;
  --buttons-sizes-small-border-default-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-small-border-default-width:1px;
  --buttons-sizes-small-border-default-style:solid;
  --buttons-sizes-small-border-default-radius:3px;
  --buttons-sizes-small-background-color: ;
  --buttons-sizes-small-icon-size:16px;
  --buttons-sizes-x-small-width:0px;
  --buttons-sizes-x-small-height:0px;
  --buttons-sizes-x-small-padding-default:2px;
  --buttons-sizes-x-small-border-default-color:hsl(222, 50%, 50%, 1);
  --buttons-sizes-x-small-border-default-width:1px;
  --buttons-sizes-x-small-border-default-style:solid;
  --buttons-sizes-x-small-border-default-radius:3px;
  --buttons-sizes-x-small-background-color: ;
  --buttons-sizes-x-small-icon-size:16px;
}
