.global-css-theme-scheme-light, .global-css-theme-ze-light{
  --colorScheme:light;
  --colors-current:currentColor;
  --colors-transparent:hsl(0, 0%, 0%, 0);
  --colors-primary-100:hsl(222, 50%, 86%, 1);
  --colors-primary-300:hsl(222, 50%, 68%, 1);
  --colors-primary-500:hsl(222, 50%, 50%, 1);
  --colors-primary-700:hsl(222, 50%, 32%, 1);
  --colors-primary-900:hsl(222, 50%, 14%, 1);
  --colors-primary-baseHue:222;
  --colors-primary-baseSat:50%;
  --colors-accent1-100:hsl(323, 80%, 90%, 1);
  --colors-accent1-300:hsl(323, 80%, 70%, 1);
  --colors-accent1-500:hsl(323, 80%, 50%, 1);
  --colors-accent1-700:hsl(323, 80%, 30%, 1);
  --colors-accent1-900:hsl(323, 80%, 10%, 1);
  --colors-accent1-baseHue:323;
  --colors-accent1-baseSat:80%;
  --colors-accent2-100:hsl(290, 50%, 90%, 1);
  --colors-accent2-300:hsl(290, 50%, 70%, 1);
  --colors-accent2-500:hsl(290, 50%, 50%, 1);
  --colors-accent2-700:hsl(290, 50%, 30%, 1);
  --colors-accent2-900:hsl(290, 50%, 10%, 1);
  --colors-accent2-baseHue:290;
  --colors-accent2-baseSat:50%;
  --colors-accent3-100:hsl(0, , 86%, 1);
  --colors-accent3-300:hsl(0, , 68%, 1);
  --colors-accent3-500:hsl(0, , 50%, 1);
  --colors-accent3-700:hsl(0, , 32%, 1);
  --colors-accent3-900:hsl(0, , 14%, 1);
  --colors-accent3-baseHue:0;
  --colors-accent3-baseSat:0%;
  --colors-accent4-100:hsl(0, , 86%, 1);
  --colors-accent4-300:hsl(0, , 68%, 1);
  --colors-accent4-500:hsl(0, , 50%, 1);
  --colors-accent4-700:hsl(0, , 32%, 1);
  --colors-accent4-900:hsl(0, , 14%, 1);
  --colors-accent4-baseHue:0;
  --colors-accent4-baseSat:0%;
  --colors-accent5-100:hsl(0, , 86%, 1);
  --colors-accent5-300:hsl(0, , 68%, 1);
  --colors-accent5-500:hsl(0, , 50%, 1);
  --colors-accent5-700:hsl(0, , 32%, 1);
  --colors-accent5-900:hsl(0, , 14%, 1);
  --colors-accent5-baseHue:0;
  --colors-accent5-baseSat:0%;
  --colors-accent6-100:hsl(0, , 86%, 1);
  --colors-accent6-300:hsl(0, , 68%, 1);
  --colors-accent6-500:hsl(0, , 50%, 1);
  --colors-accent6-700:hsl(0, , 32%, 1);
  --colors-accent6-900:hsl(0, , 14%, 1);
  --colors-accent6-baseHue:0;
  --colors-accent6-baseSat:0%;
  --colors-accent7-100:hsl(0, , 86%, 1);
  --colors-accent7-300:hsl(0, , 68%, 1);
  --colors-accent7-500:hsl(0, , 50%, 1);
  --colors-accent7-700:hsl(0, , 32%, 1);
  --colors-accent7-900:hsl(0, , 14%, 1);
  --colors-accent7-baseHue:0;
  --colors-accent7-baseSat:0%;
  --colors-grey-0:hsl(222, 6%, 100%, 1);
  --colors-grey-25:hsl(222, 6%, 97%, 1);
  --colors-grey-50:hsl(222, 6%, 93%, 1);
  --colors-grey-100:hsl(222, 6%, 90%, 1);
  --colors-grey-200:hsl(222, 6%, 86%, 1);
  --colors-grey-300:hsl(222, 6%, 83%, 1);
  --colors-grey-400:hsl(222, 6%, 73%, 1);
  --colors-grey-500:hsl(222, 6%, 66%, 1);
  --colors-grey-600:hsl(222, 6%, 59%, 1);
  --colors-grey-700:hsl(222, 6%, 46%, 1);
  --colors-grey-800:hsl(222, 6%, 26%, 1);
  --colors-grey-900:hsl(222, 6%, 13%, 1);
  --colors-grey-1000:hsl(222, 6%, 7%, 1);
  --colors-grey-baseHue:222;
  --colors-grey-baseSat:6%;
  --colors-grey-200-reversed:hsl(222, 6%, , 1);
  --colors-grey-100-reversed:hsl(222, 6%, , 1);
  --colors-grey-e4:hsl(222, 6%, 89%, 1);
  --colors-grey-e3:hsl(222, 6%, 92%, 1);
  --colors-grey-e2:hsl(222, 6%, 95%, 1);
  --colors-grey-e1:hsl(222, 6%, 98%, 1);
  --colors-grey-e0:hsl(222, 6%, 100%, 1);
  --colors-grey-0-reversed:hsl(222, 6%, 100%, 1);
  --colors-effectTransparentLight:hsl(0, 0%, 0%, 10);
  --colors-effectTransparentMedium:hsl(0, 0%, 0%, 10);
  --colors-effectTransparentHeavy:hsl(0, 0%, 0%, 13);
  --colors-utilityNeutral-100:hsl(112, 50%, 95%, 1);
  --colors-utilityNeutral-300:hsl(112, 50%, 74%, 1);
  --colors-utilityNeutral-500:hsl(112, 50%, 53%, 1);
  --colors-utilityNeutral-700:hsl(112, 50%, 32%, 1);
  --colors-utilityNeutral-900:hsl(112, 50%, 11%, 1);
  --colors-utilityNeutral-baseHue:112;
  --colors-utilityNeutral-baseSat:50%;
  --colors-utilityGreen-100:hsl(112, 71%, 95%, 1);
  --colors-utilityGreen-300:hsl(112, 71%, 74%, 1);
  --colors-utilityGreen-500:hsl(112, 71%, 53%, 1);
  --colors-utilityGreen-700:hsl(112, 71%, 32%, 1);
  --colors-utilityGreen-900:hsl(112, 71%, 11%, 1);
  --colors-utilityGreen-baseHue:112;
  --colors-utilityGreen-baseSat:71%;
  --colors-utilityYellow-100:hsl(47, 90%, 96%, 1);
  --colors-utilityYellow-300:hsl(47, 90%, 75%, 1);
  --colors-utilityYellow-500:hsl(47, 90%, 54%, 1);
  --colors-utilityYellow-700:hsl(47, 90%, 33%, 1);
  --colors-utilityYellow-900:hsl(47, 90%, 12%, 1);
  --colors-utilityYellow-baseHue:47;
  --colors-utilityYellow-baseSat:90%;
  --colors-utilityRed-100:hsl(360, 84%, 90%, 1);
  --colors-utilityRed-300:hsl(360, 84%, 69%, 1);
  --colors-utilityRed-500:hsl(360, 84%, 48%, 1);
  --colors-utilityRed-700:hsl(360, 84%, 27%, 1);
  --colors-utilityRed-900:hsl(360, 84%, 6%, 1);
  --colors-utilityRed-baseHue:360;
  --colors-utilityRed-baseSat:84%;
  --colorIntents-accessibilityColor:hsl(222, 50%, 32%, 1);
  --colorIntents-current:currentColor;
  --colorIntents-transparent:hsl(0, 0%, 0%, 0);
  --colorIntents-primary:hsl(222, 50%, 50%, 1);
  --colorIntents-primaryReversed:hsl(222, 6%, 100%, 1);
  --colorIntents-secondary:hsl(323, 80%, 50%, 1);
  --colorIntents-secondaryReversed:hsl(222, 6%, 100%, 1);
  --colorIntents-primaryText:hsl(222, 6%, 7%, 1);
  --colorIntents-primaryTextReversed:hsl(222, 6%, 100%, 1);
  --colorIntents-secondaryText:hsl(222, 6%, 46%, 1);
  --colorIntents-secondaryTextReversed:hsl(222, 6%, 90%, 1);
  --colorIntents-tertiaryText:hsl(222, 6%, 66%, 1);
  --colorIntents-tertiaryTextReversed:hsl(222, 6%, 83%, 1);
  --colorIntents-disabledText:hsl(222, 6%, 73%, 1);
  --colorIntents-disabledTextReversed:hsl(222, 6%, 66%, 1);
  --colorIntents-infoText:hsl(112, 50%, 11%, 1);
  --colorIntents-infoAction:hsl(112, 50%, 53%, 1);
  --colorIntents-infoBackground:hsl(112, 50%, 95%, 1);
  --colorIntents-successText:hsl(112, 71%, 11%, 1);
  --colorIntents-successAction:hsl(112, 71%, 53%, 1);
  --colorIntents-successBackground:hsl(112, 71%, 95%, 1);
  --colorIntents-warningText:hsl(47, 90%, 12%, 1);
  --colorIntents-warningAction:hsl(47, 90%, 54%, 1);
  --colorIntents-warningBackground:hsl(47, 90%, 96%, 1);
  --colorIntents-dangerText:hsl(360, 84%, 6%, 1);
  --colorIntents-dangerAction:hsl(360, 84%, 48%, 1);
  --colorIntents-dangerBackground:hsl(360, 84%, 90%, 1);
  --colorIntents-background0:hsl(222, 6%, 100%, 1);
  --colorIntents-background1:hsl(222, 6%, 97%, 1);
  --colorIntents-background2:hsl(222, 6%, 93%, 1);
  --colorIntents-backgroundDisabled:hsl(222, 6%, 90%, 1);
  --colorIntents-isLight:1;
  --colorIntents-elevation0:hsl(222, 6%, 100%, 1);
  --colorIntents-elevation1:hsl(222, 6%, 98%, 1);
  --colorIntents-elevation2:hsl(222, 6%, 95%, 1);
  --colorIntents-elevation3:hsl(222, 6%, 92%, 1);
  --colorIntents-elevation4:hsl(222, 6%, 89%, 1);
  --gradients-gradient1:linear-gradient(45deg, hsl(323, 80%, 90%, 1) 0%,hsl(323, 80%, 50%, 1) 100%);
  --gradients-gradient2:linear-gradient(45deg, hsl(290, 50%, 90%, 1) 0%,hsl(290, 50%, 50%, 1) 100%);
  --gradients-gradient3:linear-gradient(45deg, hsl(0, 0%, 86%, 1) 0%,hsl(0, 0%, 50%, 1) 100%);
}
.global-css-theme-scheme-dark, .global-css-theme-ze-dark{
  --colorScheme:dark;
  --colors-current:currentColor;
  --colors-transparent:hsl(0, 0%, 0%, 0);
  --colors-primary-100:hsl(222, 40%, 86%, 1);
  --colors-primary-300:hsl(222, 40%, 68%, 1);
  --colors-primary-500:hsl(222, 40%, 50%, 1);
  --colors-primary-700:hsl(222, 40%, 32%, 1);
  --colors-primary-900:hsl(222, 40%, 14%, 1);
  --colors-primary-baseHue:222;
  --colors-primary-baseSat:40%;
  --colors-accent1-100:hsl(323, 60%, 90%, 1);
  --colors-accent1-300:hsl(323, 60%, 70%, 1);
  --colors-accent1-500:hsl(323, 60%, 50%, 1);
  --colors-accent1-700:hsl(323, 60%, 30%, 1);
  --colors-accent1-900:hsl(323, 60%, 10%, 1);
  --colors-accent1-baseHue:323;
  --colors-accent1-baseSat:60%;
  --colors-accent2-100:hsl(290, 40%, 90%, 1);
  --colors-accent2-300:hsl(290, 40%, 70%, 1);
  --colors-accent2-500:hsl(290, 40%, 50%, 1);
  --colors-accent2-700:hsl(290, 40%, 30%, 1);
  --colors-accent2-900:hsl(290, 40%, 10%, 1);
  --colors-accent2-baseHue:290;
  --colors-accent2-baseSat:40%;
  --colors-accent3-100:hsl(0, , 86%, 1);
  --colors-accent3-300:hsl(0, , 68%, 1);
  --colors-accent3-500:hsl(0, , 50%, 1);
  --colors-accent3-700:hsl(0, , 32%, 1);
  --colors-accent3-900:hsl(0, , 14%, 1);
  --colors-accent3-baseHue:0;
  --colors-accent3-baseSat:0%;
  --colors-accent4-100:hsl(0, , 86%, 1);
  --colors-accent4-300:hsl(0, , 68%, 1);
  --colors-accent4-500:hsl(0, , 50%, 1);
  --colors-accent4-700:hsl(0, , 32%, 1);
  --colors-accent4-900:hsl(0, , 14%, 1);
  --colors-accent4-baseHue:0;
  --colors-accent4-baseSat:0%;
  --colors-accent5-100:hsl(0, , 86%, 1);
  --colors-accent5-300:hsl(0, , 68%, 1);
  --colors-accent5-500:hsl(0, , 50%, 1);
  --colors-accent5-700:hsl(0, , 32%, 1);
  --colors-accent5-900:hsl(0, , 14%, 1);
  --colors-accent5-baseHue:0;
  --colors-accent5-baseSat:0%;
  --colors-accent6-100:hsl(0, , 86%, 1);
  --colors-accent6-300:hsl(0, , 68%, 1);
  --colors-accent6-500:hsl(0, , 50%, 1);
  --colors-accent6-700:hsl(0, , 32%, 1);
  --colors-accent6-900:hsl(0, , 14%, 1);
  --colors-accent6-baseHue:0;
  --colors-accent6-baseSat:0%;
  --colors-accent7-100:hsl(0, , 86%, 1);
  --colors-accent7-300:hsl(0, , 68%, 1);
  --colors-accent7-500:hsl(0, , 50%, 1);
  --colors-accent7-700:hsl(0, , 32%, 1);
  --colors-accent7-900:hsl(0, , 14%, 1);
  --colors-accent7-baseHue:0;
  --colors-accent7-baseSat:0%;
  --colors-grey-0:hsl(222, 6%, 7%, 1);
  --colors-grey-25:hsl(222, 6%, 18%, 1);
  --colors-grey-50:hsl(222, 6%, 20%, 1);
  --colors-grey-100:hsl(222, 6%, 24%, 1);
  --colors-grey-200:hsl(222, 6%, 27%, 1);
  --colors-grey-300:hsl(222, 6%, 33%, 1);
  --colors-grey-400:hsl(222, 6%, 47%, 1);
  --colors-grey-500:hsl(222, 6%, 55%, 1);
  --colors-grey-600:hsl(222, 6%, 63%, 1);
  --colors-grey-700:hsl(222, 6%, 78%, 1);
  --colors-grey-800:hsl(222, 6%, 85%, 1);
  --colors-grey-900:hsl(222, 6%, 93%, 1);
  --colors-grey-1000:hsl(222, 6%, 100%, 1);
  --colors-grey-baseHue:222;
  --colors-grey-baseSat:6%;
  --colors-grey-200-reversed:hsl(222, 6%, 100%, 1);
  --colors-grey-100-reversed:hsl(222, 6%, 100%, 1);
  --colors-grey-e4:hsl(222, 6%, 26%, 1);
  --colors-grey-e3:hsl(222, 6%, 20%, 1);
  --colors-grey-e2:hsl(222, 6%, 16%, 1);
  --colors-grey-e1:hsl(222, 6%, 13%, 1);
  --colors-grey-e0:hsl(222, 6%, 11%, 1);
  --colors-grey-0-reversed:hsl(222, 6%, 100%, 1);
  --colors-effectTransparentLight:hsl(0, 0%, 0%, 24);
  --colors-effectTransparentMedium:hsl(0, 0%, 0%, 62);
  --colors-effectTransparentHeavy:hsl(0, 0%, 0%, 59);
  --colors-utilityNeutral-100:hsl(112, , 95%, 1);
  --colors-utilityNeutral-300:hsl(112, , 74%, 1);
  --colors-utilityNeutral-500:hsl(112, , 53%, 1);
  --colors-utilityNeutral-700:hsl(112, , 32%, 1);
  --colors-utilityNeutral-900:hsl(112, , 11%, 1);
  --colors-utilityNeutral-baseHue:112;
  --colors-utilityNeutral-baseSat:0%;
  --colors-utilityGreen-100:hsl(112, 71%, 95%, 1);
  --colors-utilityGreen-300:hsl(112, 71%, 74%, 1);
  --colors-utilityGreen-500:hsl(112, 71%, 53%, 1);
  --colors-utilityGreen-700:hsl(112, 71%, 32%, 1);
  --colors-utilityGreen-900:hsl(112, 71%, 11%, 1);
  --colors-utilityGreen-baseHue:112;
  --colors-utilityGreen-baseSat:71%;
  --colors-utilityYellow-100:hsl(47, 90%, 96%, 1);
  --colors-utilityYellow-300:hsl(47, 90%, 75%, 1);
  --colors-utilityYellow-500:hsl(47, 90%, 54%, 1);
  --colors-utilityYellow-700:hsl(47, 90%, 33%, 1);
  --colors-utilityYellow-900:hsl(47, 90%, 12%, 1);
  --colors-utilityYellow-baseHue:47;
  --colors-utilityYellow-baseSat:90%;
  --colors-utilityRed-100:hsl(360, 84%, 90%, 1);
  --colors-utilityRed-300:hsl(360, 84%, 69%, 1);
  --colors-utilityRed-500:hsl(360, 84%, 48%, 1);
  --colors-utilityRed-700:hsl(360, 84%, 27%, 1);
  --colors-utilityRed-900:hsl(360, 84%, 6%, 1);
  --colors-utilityRed-baseHue:360;
  --colors-utilityRed-baseSat:84%;
  --colorIntents-accessibilityColor:hsl(222, 40%, 32%, 1);
  --colorIntents-current:currentColor;
  --colorIntents-transparent:hsl(0, 0%, 0%, 0);
  --colorIntents-primary:hsl(222, 40%, 50%, 1);
  --colorIntents-primaryReversed:hsl(222, 6%, 100%, 1);
  --colorIntents-secondary:hsl(323, 60%, 50%, 1);
  --colorIntents-secondaryReversed:hsl(222, 6%, 100%, 1);
  --colorIntents-primaryText:hsl(222, 6%, 100%, 1);
  --colorIntents-primaryTextReversed:hsl(222, 6%, 100%, 1);
  --colorIntents-secondaryText:hsl(222, 6%, 78%, 1);
  --colorIntents-secondaryTextReversed:hsl(222, 6%, 24%, 1);
  --colorIntents-tertiaryText:hsl(222, 6%, 55%, 1);
  --colorIntents-tertiaryTextReversed:hsl(222, 6%, 33%, 1);
  --colorIntents-disabledText:hsl(222, 6%, 47%, 1);
  --colorIntents-disabledTextReversed:hsl(222, 6%, 55%, 1);
  --colorIntents-infoText:hsl(112, , 11%, 1);
  --colorIntents-infoAction:hsl(112, , 53%, 1);
  --colorIntents-infoBackground:hsl(112, , 95%, 1);
  --colorIntents-successText:hsl(112, 71%, 11%, 1);
  --colorIntents-successAction:hsl(112, 71%, 53%, 1);
  --colorIntents-successBackground:hsl(112, 71%, 95%, 1);
  --colorIntents-warningText:hsl(47, 90%, 12%, 1);
  --colorIntents-warningAction:hsl(47, 90%, 54%, 1);
  --colorIntents-warningBackground:hsl(47, 90%, 96%, 1);
  --colorIntents-dangerText:hsl(360, 84%, 6%, 1);
  --colorIntents-dangerAction:hsl(360, 84%, 48%, 1);
  --colorIntents-dangerBackground:hsl(360, 84%, 90%, 1);
  --colorIntents-background0:hsl(222, 6%, 7%, 1);
  --colorIntents-background1:hsl(222, 6%, 18%, 1);
  --colorIntents-background2:hsl(222, 6%, 20%, 1);
  --colorIntents-backgroundDisabled:hsl(222, 6%, 24%, 1);
  --colorIntents-isLight:0;
  --colorIntents-elevation0:hsl(222, 6%, 11%, 1);
  --colorIntents-elevation1:hsl(222, 6%, 13%, 1);
  --colorIntents-elevation2:hsl(222, 6%, 16%, 1);
  --colorIntents-elevation3:hsl(222, 6%, 20%, 1);
  --colorIntents-elevation4:hsl(222, 6%, 26%, 1);
  --gradients-gradient1:linear-gradient(45deg, hsl(323, 60%, 90%, 1) 0%,hsl(323, 60%, 50%, 1) 100%);
  --gradients-gradient2:linear-gradient(45deg, hsl(290, 40%, 90%, 1) 0%,hsl(290, 40%, 50%, 1) 100%);
  --gradients-gradient3:linear-gradient(45deg, hsl(0, 0%, 86%, 1) 0%,hsl(0, 0%, 50%, 1) 100%);
}
