.global-css-theme-scheme-light, .global-css-theme-scheme-dark .global-css-theme-scheme-reversed, .global-css-theme-ze-light{
  --color-scheme:LIGHT;
  --colors-current:currentColor;
  --colors-transparent:hsl(0, 0%, 0%, 0);
  --colors-primary-100:hsl(222, 50%, 86%, 1);
  --colors-primary-300:hsl(222, 50%, 68%, 1);
  --colors-primary-500:hsl(222, 50%, 50%, 1);
  --colors-primary-700:hsl(222, 50%, 32%, 1);
  --colors-primary-900:hsl(222, 50%, 14%, 1);
  --colors-primary-base-hue:222;
  --colors-primary-base-sat:50%;
  --colors-accent1-100:hsl(323, 80%, 90%, 1);
  --colors-accent1-300:hsl(323, 80%, 70%, 1);
  --colors-accent1-500:hsl(323, 80%, 50%, 1);
  --colors-accent1-700:hsl(323, 80%, 30%, 1);
  --colors-accent1-900:hsl(323, 80%, 10%, 1);
  --colors-accent1-base-hue:323;
  --colors-accent1-base-sat:80%;
  --colors-accent2-100:hsl(290, 50%, 90%, 1);
  --colors-accent2-300:hsl(290, 50%, 70%, 1);
  --colors-accent2-500:hsl(290, 50%, 50%, 1);
  --colors-accent2-700:hsl(290, 50%, 30%, 1);
  --colors-accent2-900:hsl(290, 50%, 10%, 1);
  --colors-accent2-base-hue:290;
  --colors-accent2-base-sat:50%;
  --colors-accent3-100:hsl(0, , 86%, 1);
  --colors-accent3-300:hsl(0, , 68%, 1);
  --colors-accent3-500:hsl(0, , 50%, 1);
  --colors-accent3-700:hsl(0, , 32%, 1);
  --colors-accent3-900:hsl(0, , 14%, 1);
  --colors-accent3-base-hue:0;
  --colors-accent3-base-sat:0%;
  --colors-accent4-100:hsl(0, , 86%, 1);
  --colors-accent4-300:hsl(0, , 68%, 1);
  --colors-accent4-500:hsl(0, , 50%, 1);
  --colors-accent4-700:hsl(0, , 32%, 1);
  --colors-accent4-900:hsl(0, , 14%, 1);
  --colors-accent4-base-hue:0;
  --colors-accent4-base-sat:0%;
  --colors-accent5-100:hsl(0, , 86%, 1);
  --colors-accent5-300:hsl(0, , 68%, 1);
  --colors-accent5-500:hsl(0, , 50%, 1);
  --colors-accent5-700:hsl(0, , 32%, 1);
  --colors-accent5-900:hsl(0, , 14%, 1);
  --colors-accent5-base-hue:0;
  --colors-accent5-base-sat:0%;
  --colors-accent6-100:hsl(0, , 86%, 1);
  --colors-accent6-300:hsl(0, , 68%, 1);
  --colors-accent6-500:hsl(0, , 50%, 1);
  --colors-accent6-700:hsl(0, , 32%, 1);
  --colors-accent6-900:hsl(0, , 14%, 1);
  --colors-accent6-base-hue:0;
  --colors-accent6-base-sat:0%;
  --colors-accent7-100:hsl(0, , 86%, 1);
  --colors-accent7-300:hsl(0, , 68%, 1);
  --colors-accent7-500:hsl(0, , 50%, 1);
  --colors-accent7-700:hsl(0, , 32%, 1);
  --colors-accent7-900:hsl(0, , 14%, 1);
  --colors-accent7-base-hue:0;
  --colors-accent7-base-sat:0%;
  --colors-grey-0:hsl(222, 6%, 100%, 1);
  --colors-grey-25:hsl(222, 6%, 97%, 1);
  --colors-grey-50:hsl(222, 6%, 93%, 1);
  --colors-grey-100:hsl(222, 6%, 90%, 1);
  --colors-grey-200:hsl(222, 6%, 86%, 1);
  --colors-grey-300:hsl(222, 6%, 83%, 1);
  --colors-grey-400:hsl(222, 6%, 73%, 1);
  --colors-grey-500:hsl(222, 6%, 66%, 1);
  --colors-grey-600:hsl(222, 6%, 59%, 1);
  --colors-grey-700:hsl(222, 6%, 46%, 1);
  --colors-grey-800:hsl(222, 6%, 26%, 1);
  --colors-grey-900:hsl(222, 6%, 13%, 1);
  --colors-grey-1000:hsl(222, 6%, 7%, 1);
  --colors-grey-base-hue:222;
  --colors-grey-base-sat:6%;
  --colors-grey-200-reversed:hsl(222, 6%, , 1);
  --colors-grey-100-reversed:hsl(222, 6%, , 1);
  --colors-grey-e4:hsl(222, 6%, 100%, 1);
  --colors-grey-e3:hsl(222, 6%, 100%, 1);
  --colors-grey-e2:hsl(222, 6%, 100%, 1);
  --colors-grey-e1:hsl(222, 6%, 100%, 1);
  --colors-grey-e0:hsl(222, 6%, 100%, 1);
  --colors-grey-e4-grey:hsl(222, 6%, 89%, 1);
  --colors-grey-e3-grey:hsl(222, 6%, 92%, 1);
  --colors-grey-e2-grey:hsl(222, 6%, 95%, 1);
  --colors-grey-e1-grey:hsl(222, 6%, 98%, 1);
  --colors-grey-e0-grey:hsl(222, 6%, 100%, 1);
  --colors-grey-0-reversed:hsl(222, 6%, 100%, 1);
  --colors-effect-transparent-light:hsl(0, 0%, 0%, 0.1);
  --colors-effect-transparent-medium:hsl(0, 0%, 0%, 0.1);
  --colors-effect-transparent-heavy:hsl(0, 0%, 0%, 0.13);
  --colors-utility-neutral-100:hsl(112, 50%, 95%, 1);
  --colors-utility-neutral-300:hsl(112, 50%, 74%, 1);
  --colors-utility-neutral-500:hsl(112, 50%, 53%, 1);
  --colors-utility-neutral-700:hsl(112, 50%, 32%, 1);
  --colors-utility-neutral-900:hsl(112, 50%, 11%, 1);
  --colors-utility-neutral-base-hue:112;
  --colors-utility-neutral-base-sat:50%;
  --colors-utility-green-100:hsl(112, 71%, 95%, 1);
  --colors-utility-green-300:hsl(112, 71%, 74%, 1);
  --colors-utility-green-500:hsl(112, 71%, 53%, 1);
  --colors-utility-green-700:hsl(112, 71%, 32%, 1);
  --colors-utility-green-900:hsl(112, 71%, 11%, 1);
  --colors-utility-green-base-hue:112;
  --colors-utility-green-base-sat:71%;
  --colors-utility-yellow-100:hsl(47, 90%, 96%, 1);
  --colors-utility-yellow-300:hsl(47, 90%, 75%, 1);
  --colors-utility-yellow-500:hsl(47, 90%, 54%, 1);
  --colors-utility-yellow-700:hsl(47, 90%, 33%, 1);
  --colors-utility-yellow-900:hsl(47, 90%, 12%, 1);
  --colors-utility-yellow-base-hue:47;
  --colors-utility-yellow-base-sat:90%;
  --colors-utility-red-100:hsl(360, 84%, 90%, 1);
  --colors-utility-red-300:hsl(360, 84%, 69%, 1);
  --colors-utility-red-500:hsl(360, 84%, 48%, 1);
  --colors-utility-red-700:hsl(360, 84%, 27%, 1);
  --colors-utility-red-900:hsl(360, 84%, 6%, 1);
  --colors-utility-red-base-hue:360;
  --colors-utility-red-base-sat:84%;
  --colors-code-editor-background:hsl(210, 29%, 97%, 1);
  --colors-code-editor-foreground:hsl(213, 13%, 16%, 1);
  --colors-code-editor-selection-background:hsl(212, 97%, 43%, 0.15);
  --colors-code-editor-header-background:hsl(258, 48%, 83%, 1);
  --colors-code-editor-header-foreground:hsl(70, 5%, 22%, 1);
  --colors-code-editor-header-tag-background:hsl(323, 100%, 81%, 1);
  --colors-code-editor-header-tag-foreground:hsl(70, 5%, 22%, 1);
  --colors-code-code-comment:hsl(60, 8%, 57%, 1);
  --colors-code-code-cdata:hsl(60, 8%, 57%, 1);
  --colors-code-code-doctype:hsl(60, 8%, 57%, 1);
  --colors-code-code-prolog:hsl(60, 8%, 57%, 1);
  --colors-code-code-keyword:hsl(240, 80%, 40%, 1);
  --colors-code-code-atrule:hsl(195, 90%, 33%, 1);
  --colors-code-code-attr-name:hsl(195, 90%, 33%, 1);
  --colors-code-code-selector:hsl(195, 90%, 33%, 1);
  --colors-code-code-operator:hsl(176, 59%, 31%, 1);
  --colors-code-code-punctuation:hsl(70, 5%, 22%, 1);
  --colors-code-code-regex-source:hsl(70, 5%, 22%, 1);
  --colors-code-code-selector-function-argument:hsl(70, 5%, 22%, 1);
  --colors-code-code-string-property:hsl(70, 5%, 22%, 1);
  --colors-code-code-string:hsl(334, 86%, 48%, 1);
  --colors-code-code-attr-value:hsl(334, 86%, 48%, 1);
  --colors-code-code-style:hsl(70, 5%, 22%, 1);
  --colors-code-code-template-punctuation:hsl(70, 5%, 22%, 1);
  --colors-code-code-template-string:hsl(70, 5%, 22%, 1);
  --colors-code-code-value:hsl(70, 5%, 22%, 1);
  --colors-code-code-script:hsl(213, 13%, 16%, 1);
  --colors-code-code-variable:hsl(23, 100%, 29%, 1);
  --colors-code-code-symbol:hsl(179, 62%, 32%, 1);
  --colors-code-code-number:hsl(179, 62%, 32%, 1);
  --colors-code-code-url:hsl(179, 62%, 32%, 1);
  --colors-code-code-entity:hsl(179, 62%, 32%, 1);
  --colors-code-code-boolean:hsl(179, 62%, 32%, 1);
  --colors-code-code-constant:hsl(240, 80%, 40%, 1);
  --colors-code-code-regex:hsl(179, 62%, 32%, 1);
  --colors-code-code-property:hsl(179, 62%, 32%, 1);
  --colors-code-code-inserted:hsl(179, 62%, 32%, 1);
  --colors-code-code-unit:hsl(195, 90%, 33%, 1);
  --colors-code-code-function:hsl(294, 66%, 54%, 1);
  --colors-code-code-deleted:hsl(294, 66%, 54%, 1);
  --colors-code-code-tag:hsl(240, 80%, 40%, 1);
  --colors-code-code-function-variable:hsl(354, 66%, 54%, 1);
  --colors-code-code-namespace:hsl(70, 5%, 22%, 1);
  --colors-code-code-class-name:hsl(240, 80%, 40%, 1);
  --colors-code-code-maybe-class-name:hsl(150, 57%, 32%, 1);
  --colors-code-code-hashbang:hsl(213, 13%, 16%, 1);
  --colors-code-code-important:hsl(213, 13%, 16%, 1);
  --colors-code-code-included-cdata:hsl(213, 13%, 16%, 1);
  --colors-code-code-internal-subset:hsl(213, 13%, 16%, 1);
  --colors-code-code-interpolation-punctuation:hsl(213, 13%, 16%, 1);
  --colors-code-code-interpolation:hsl(213, 13%, 16%, 1);
  --colors-code-code-literal-property:hsl(213, 13%, 16%, 1);
  --colors-code-code-parameter:hsl(354, 66%, 54%, 1);
  --color-intents-accessibility-color:hsl(222, 50%, 32%, 1);
  --color-intents-current:currentColor;
  --color-intents-transparent:hsl(0, 0%, 0%, 0);
  --color-intents-primary:hsl(222, 50%, 50%, 1);
  --color-intents-secondary:hsl(323, 80%, 50%, 1);
  --color-intents-primary-text:hsl(222, 6%, 7%, 1);
  --color-intents-secondary-text:hsl(222, 6%, 46%, 1);
  --color-intents-tertiary-text:hsl(222, 6%, 66%, 1);
  --color-intents-disabled-text:hsl(222, 6%, 73%, 1);
  --color-intents-info-text:hsl(112, 50%, 11%, 1);
  --color-intents-info-action:hsl(112, 50%, 53%, 1);
  --color-intents-info-background:hsl(112, 50%, 95%, 1);
  --color-intents-success-text:hsl(112, 71%, 11%, 1);
  --color-intents-success-action:hsl(112, 71%, 53%, 1);
  --color-intents-success-background:hsl(112, 71%, 95%, 1);
  --color-intents-warning-text:hsl(47, 90%, 12%, 1);
  --color-intents-warning-action:hsl(47, 90%, 54%, 1);
  --color-intents-warning-background:hsl(47, 90%, 96%, 1);
  --color-intents-danger-text:hsl(360, 84%, 6%, 1);
  --color-intents-danger-action:hsl(360, 84%, 48%, 1);
  --color-intents-danger-background:hsl(360, 84%, 90%, 1);
  --color-intents-background0:hsl(222, 6%, 100%, 1);
  --color-intents-background1:hsl(222, 6%, 97%, 1);
  --color-intents-background2:hsl(222, 6%, 93%, 1);
  --color-intents-background-disabled:hsl(222, 6%, 90%, 1);
  --color-intents-is-light:1;
  --color-intents-elevation0:hsl(222, 6%, 100%, 1);
  --color-intents-elevation1:hsl(222, 6%, 100%, 1);
  --color-intents-elevation2:hsl(222, 6%, 100%, 1);
  --color-intents-elevation3:hsl(222, 6%, 100%, 1);
  --color-intents-elevation4:hsl(222, 6%, 100%, 1);
  --color-intents-elevation0-grey:hsl(222, 6%, 100%, 1);
  --color-intents-elevation1-grey:hsl(222, 6%, 98%, 1);
  --color-intents-elevation2-grey:hsl(222, 6%, 95%, 1);
  --color-intents-elevation3-grey:hsl(222, 6%, 92%, 1);
  --color-intents-elevation4-grey:hsl(222, 6%, 89%, 1);
  --gradients-gradient1:linear-gradient(45deg, hsl(323, 80%, 90%, 1) 0%,hsl(323, 80%, 50%, 1) 100%);
  --gradients-gradient2:linear-gradient(45deg, hsl(290, 50%, 90%, 1) 0%,hsl(290, 50%, 50%, 1) 100%);
  --gradients-gradient3:linear-gradient(45deg, hsl(0, 0%, 86%, 1) 0%,hsl(0, 0%, 50%, 1) 100%);
}
.global-css-theme-scheme-dark, .global-css-theme-scheme-light .global-css-theme-scheme-reversed, .global-css-theme-ze-dark{
  --color-scheme:DARK;
  --colors-current:currentColor;
  --colors-transparent:hsl(0, 0%, 0%, 0);
  --colors-primary-100:hsl(222, 60%, 100%, 1);
  --colors-primary-300:hsl(222, 60%, 88%, 1);
  --colors-primary-500:hsl(222, 60%, 70%, 1);
  --colors-primary-700:hsl(222, 60%, 52%, 1);
  --colors-primary-900:hsl(222, 60%, 34%, 1);
  --colors-primary-base-hue:222;
  --colors-primary-base-sat:60%;
  --colors-accent1-100:hsl(323, 60%, 90%, 1);
  --colors-accent1-300:hsl(323, 60%, 70%, 1);
  --colors-accent1-500:hsl(323, 60%, 50%, 1);
  --colors-accent1-700:hsl(323, 60%, 30%, 1);
  --colors-accent1-900:hsl(323, 60%, 10%, 1);
  --colors-accent1-base-hue:323;
  --colors-accent1-base-sat:60%;
  --colors-accent2-100:hsl(290, 40%, 90%, 1);
  --colors-accent2-300:hsl(290, 40%, 70%, 1);
  --colors-accent2-500:hsl(290, 40%, 50%, 1);
  --colors-accent2-700:hsl(290, 40%, 30%, 1);
  --colors-accent2-900:hsl(290, 40%, 10%, 1);
  --colors-accent2-base-hue:290;
  --colors-accent2-base-sat:40%;
  --colors-accent3-100:hsl(0, , 86%, 1);
  --colors-accent3-300:hsl(0, , 68%, 1);
  --colors-accent3-500:hsl(0, , 50%, 1);
  --colors-accent3-700:hsl(0, , 32%, 1);
  --colors-accent3-900:hsl(0, , 14%, 1);
  --colors-accent3-base-hue:0;
  --colors-accent3-base-sat:0%;
  --colors-accent4-100:hsl(0, , 86%, 1);
  --colors-accent4-300:hsl(0, , 68%, 1);
  --colors-accent4-500:hsl(0, , 50%, 1);
  --colors-accent4-700:hsl(0, , 32%, 1);
  --colors-accent4-900:hsl(0, , 14%, 1);
  --colors-accent4-base-hue:0;
  --colors-accent4-base-sat:0%;
  --colors-accent5-100:hsl(0, , 86%, 1);
  --colors-accent5-300:hsl(0, , 68%, 1);
  --colors-accent5-500:hsl(0, , 50%, 1);
  --colors-accent5-700:hsl(0, , 32%, 1);
  --colors-accent5-900:hsl(0, , 14%, 1);
  --colors-accent5-base-hue:0;
  --colors-accent5-base-sat:0%;
  --colors-accent6-100:hsl(0, , 86%, 1);
  --colors-accent6-300:hsl(0, , 68%, 1);
  --colors-accent6-500:hsl(0, , 50%, 1);
  --colors-accent6-700:hsl(0, , 32%, 1);
  --colors-accent6-900:hsl(0, , 14%, 1);
  --colors-accent6-base-hue:0;
  --colors-accent6-base-sat:0%;
  --colors-accent7-100:hsl(0, , 86%, 1);
  --colors-accent7-300:hsl(0, , 68%, 1);
  --colors-accent7-500:hsl(0, , 50%, 1);
  --colors-accent7-700:hsl(0, , 32%, 1);
  --colors-accent7-900:hsl(0, , 14%, 1);
  --colors-accent7-base-hue:0;
  --colors-accent7-base-sat:0%;
  --colors-grey-0:hsl(222, 6%, 7%, 1);
  --colors-grey-25:hsl(222, 6%, 18%, 1);
  --colors-grey-50:hsl(222, 6%, 20%, 1);
  --colors-grey-100:hsl(222, 6%, 24%, 1);
  --colors-grey-200:hsl(222, 6%, 27%, 1);
  --colors-grey-300:hsl(222, 6%, 33%, 1);
  --colors-grey-400:hsl(222, 6%, 47%, 1);
  --colors-grey-500:hsl(222, 6%, 55%, 1);
  --colors-grey-600:hsl(222, 6%, 63%, 1);
  --colors-grey-700:hsl(222, 6%, 78%, 1);
  --colors-grey-800:hsl(222, 6%, 85%, 1);
  --colors-grey-900:hsl(222, 6%, 93%, 1);
  --colors-grey-1000:hsl(222, 6%, 100%, 1);
  --colors-grey-base-hue:222;
  --colors-grey-base-sat:6%;
  --colors-grey-200-reversed:hsl(222, 6%, 100%, 1);
  --colors-grey-100-reversed:hsl(222, 6%, 100%, 1);
  --colors-grey-e4:hsl(222, 6%, 26%, 1);
  --colors-grey-e3:hsl(222, 6%, 20%, 1);
  --colors-grey-e2:hsl(222, 6%, 16%, 1);
  --colors-grey-e1:hsl(222, 6%, 13%, 1);
  --colors-grey-e0:hsl(222, 6%, 11%, 1);
  --colors-grey-e4-grey:hsl(222, 6%, 26%, 1);
  --colors-grey-e3-grey:hsl(222, 6%, 20%, 1);
  --colors-grey-e2-grey:hsl(222, 6%, 16%, 1);
  --colors-grey-e1-grey:hsl(222, 6%, 13%, 1);
  --colors-grey-e0-grey:hsl(222, 6%, 11%, 1);
  --colors-grey-0-reversed:hsl(222, 6%, 100%, 1);
  --colors-effect-transparent-light:hsl(0, 0%, 0%, 0.24);
  --colors-effect-transparent-medium:hsl(0, 0%, 0%, 0.62);
  --colors-effect-transparent-heavy:hsl(0, 0%, 0%, 0.59);
  --colors-utility-neutral-100:hsl(112, , 95%, 1);
  --colors-utility-neutral-300:hsl(112, , 74%, 1);
  --colors-utility-neutral-500:hsl(112, , 53%, 1);
  --colors-utility-neutral-700:hsl(112, , 32%, 1);
  --colors-utility-neutral-900:hsl(112, , 11%, 1);
  --colors-utility-neutral-base-hue:112;
  --colors-utility-neutral-base-sat:0%;
  --colors-utility-green-100:hsl(112, 71%, 95%, 1);
  --colors-utility-green-300:hsl(112, 71%, 74%, 1);
  --colors-utility-green-500:hsl(112, 71%, 53%, 1);
  --colors-utility-green-700:hsl(112, 71%, 32%, 1);
  --colors-utility-green-900:hsl(112, 71%, 11%, 1);
  --colors-utility-green-base-hue:112;
  --colors-utility-green-base-sat:71%;
  --colors-utility-yellow-100:hsl(47, 90%, 96%, 1);
  --colors-utility-yellow-300:hsl(47, 90%, 75%, 1);
  --colors-utility-yellow-500:hsl(47, 90%, 54%, 1);
  --colors-utility-yellow-700:hsl(47, 90%, 33%, 1);
  --colors-utility-yellow-900:hsl(47, 90%, 12%, 1);
  --colors-utility-yellow-base-hue:47;
  --colors-utility-yellow-base-sat:90%;
  --colors-utility-red-100:hsl(360, 84%, 90%, 1);
  --colors-utility-red-300:hsl(360, 84%, 69%, 1);
  --colors-utility-red-500:hsl(360, 84%, 48%, 1);
  --colors-utility-red-700:hsl(360, 84%, 27%, 1);
  --colors-utility-red-900:hsl(360, 84%, 6%, 1);
  --colors-utility-red-base-hue:360;
  --colors-utility-red-base-sat:84%;
  --colors-code-editor-background:hsl(213, 15%, 14%, 1);
  --colors-code-editor-foreground:hsl(208, 19%, 85%, 1);
  --colors-code-editor-selection-background:hsl(212, 100%, 60%, 0.27);
  --colors-code-editor-header-background:hsl(258, 16%, 31%, 1);
  --colors-code-editor-header-foreground:hsl(0, 0%, 100%, 1);
  --colors-code-editor-header-tag-background:hsl(323, 100%, 81%, 1);
  --colors-code-editor-header-tag-foreground:hsl(70, 5%, 22%, 1);
  --colors-code-code-comment:hsl(210, 10%, 51%, 1);
  --colors-code-code-cdata:hsl(210, 10%, 51%, 1);
  --colors-code-code-doctype:hsl(210, 10%, 51%, 1);
  --colors-code-code-prolog:hsl(210, 10%, 51%, 1);
  --colors-code-code-keyword:hsl(240, 82%, 70%, 1);
  --colors-code-code-atrule:hsl(195, 90%, 40%, 1);
  --colors-code-code-attr-name:hsl(195, 90%, 40%, 1);
  --colors-code-code-selector:hsl(195, 90%, 40%, 1);
  --colors-code-code-operator:hsl(70, 5%, 54%, 1);
  --colors-code-code-punctuation:hsl(210, 19%, 73%, 1);
  --colors-code-code-regex-source:hsl(222, 60%, 50%, 1);
  --colors-code-code-selector-function-argument:hsl(222, 60%, 50%, 1);
  --colors-code-code-string-property:hsl(222, 60%, 50%, 1);
  --colors-code-code-string:hsl(334, 97%, 63%, 1);
  --colors-code-code-attr-value:hsl(334, 97%, 63%, 1);
  --colors-code-code-style:hsl(222, 60%, 50%, 1);
  --colors-code-code-template-punctuation:hsl(222, 60%, 50%, 1);
  --colors-code-code-template-string:hsl(222, 60%, 50%, 1);
  --colors-code-code-value:hsl(222, 60%, 50%, 1);
  --colors-code-code-script:hsl(208, 19%, 85%, 1);
  --colors-code-code-variable:hsl(179, 52%, 44%, 1);
  --colors-code-code-symbol:hsl(179, 52%, 44%, 1);
  --colors-code-code-number:hsl(179, 52%, 44%, 1);
  --colors-code-code-url:hsl(179, 52%, 44%, 1);
  --colors-code-code-entity:hsl(179, 52%, 44%, 1);
  --colors-code-code-boolean:hsl(179, 52%, 44%, 1);
  --colors-code-code-constant:hsl(179, 52%, 44%, 1);
  --colors-code-code-regex:hsl(179, 52%, 44%, 1);
  --colors-code-code-property:hsl(179, 52%, 44%, 1);
  --colors-code-code-inserted:hsl(179, 52%, 44%, 1);
  --colors-code-code-unit:hsl(195, 90%, 40%, 1);
  --colors-code-code-function:hsl(270, 89%, 86%, 1);
  --colors-code-code-deleted:hsl(270, 89%, 86%, 1);
  --colors-code-code-tag:hsl(240, 82%, 70%, 1);
  --colors-code-code-function-variable:hsl(210, 19%, 73%, 1);
  --colors-code-code-namespace:hsl(208, 19%, 85%, 1);
  --colors-code-code-class-name:hsl(240, 82%, 70%, 1);
  --colors-code-code-maybe-class-name:hsl(150, 57%, 32%, 1);
  --colors-code-code-hashbang:hsl(208, 19%, 85%, 1);
  --colors-code-code-important:hsl(208, 19%, 85%, 1);
  --colors-code-code-included-cdata:hsl(208, 19%, 85%, 1);
  --colors-code-code-internal-subset:hsl(208, 19%, 85%, 1);
  --colors-code-code-interpolation-punctuation:hsl(208, 19%, 85%, 1);
  --colors-code-code-interpolation:hsl(208, 19%, 85%, 1);
  --colors-code-code-literal-property:hsl(208, 19%, 85%, 1);
  --colors-code-code-parameter:hsl(210, 19%, 73%, 1);
  --color-intents-accessibility-color:hsl(222, 60%, 52%, 1);
  --color-intents-current:currentColor;
  --color-intents-transparent:hsl(0, 0%, 0%, 0);
  --color-intents-primary:hsl(222, 60%, 70%, 1);
  --color-intents-secondary:hsl(323, 60%, 50%, 1);
  --color-intents-primary-text:hsl(222, 6%, 100%, 1);
  --color-intents-secondary-text:hsl(222, 6%, 78%, 1);
  --color-intents-tertiary-text:hsl(222, 6%, 55%, 1);
  --color-intents-disabled-text:hsl(222, 6%, 47%, 1);
  --color-intents-info-text:hsl(112, , 11%, 1);
  --color-intents-info-action:hsl(112, , 53%, 1);
  --color-intents-info-background:hsl(112, , 95%, 1);
  --color-intents-success-text:hsl(112, 71%, 11%, 1);
  --color-intents-success-action:hsl(112, 71%, 53%, 1);
  --color-intents-success-background:hsl(112, 71%, 95%, 1);
  --color-intents-warning-text:hsl(47, 90%, 12%, 1);
  --color-intents-warning-action:hsl(47, 90%, 54%, 1);
  --color-intents-warning-background:hsl(47, 90%, 96%, 1);
  --color-intents-danger-text:hsl(360, 84%, 6%, 1);
  --color-intents-danger-action:hsl(360, 84%, 48%, 1);
  --color-intents-danger-background:hsl(360, 84%, 90%, 1);
  --color-intents-background0:hsl(222, 6%, 7%, 1);
  --color-intents-background1:hsl(222, 6%, 18%, 1);
  --color-intents-background2:hsl(222, 6%, 20%, 1);
  --color-intents-background-disabled:hsl(222, 6%, 24%, 1);
  --color-intents-is-light:0;
  --color-intents-elevation0:hsl(222, 6%, 11%, 1);
  --color-intents-elevation1:hsl(222, 6%, 13%, 1);
  --color-intents-elevation2:hsl(222, 6%, 16%, 1);
  --color-intents-elevation3:hsl(222, 6%, 20%, 1);
  --color-intents-elevation4:hsl(222, 6%, 26%, 1);
  --color-intents-elevation0-grey:hsl(222, 6%, 11%, 1);
  --color-intents-elevation1-grey:hsl(222, 6%, 13%, 1);
  --color-intents-elevation2-grey:hsl(222, 6%, 16%, 1);
  --color-intents-elevation3-grey:hsl(222, 6%, 20%, 1);
  --color-intents-elevation4-grey:hsl(222, 6%, 26%, 1);
  --gradients-gradient1:linear-gradient(45deg, hsl(323, 60%, 90%, 1) 0%,hsl(323, 60%, 50%, 1) 100%);
  --gradients-gradient2:linear-gradient(45deg, hsl(290, 40%, 90%, 1) 0%,hsl(290, 40%, 50%, 1) 100%);
  --gradients-gradient3:linear-gradient(45deg, hsl(0, 0%, 86%, 1) 0%,hsl(0, 0%, 50%, 1) 100%);
}
