:root{
  --box-shadows-light:0px 1px 4px 0px hsl(0, 0%, 0%, 0.1);
  --box-shadows-medium:0px 2px 8px 0px hsl(0, 0%, 0%, 0.1);
  --box-shadows-heavy:0px 8px 32px 0px hsl(0, 0%, 0%, 0.13);
  --inner-box-shadows-light:0px 1px 4px 0px hsl(0, 0%, 0%, 0.1);
  --inner-box-shadows-medium:0px 2px 8px 0px hsl(0, 0%, 0%, 0.1);
  --inner-box-shadows-heavy:0px 8px 32px 0px hsl(0, 0%, 0%, 0.13);
  --text-shadows-light:0px 2px 17px hsl(0, 0%, 0%, 0.04);
  --text-shadows-medium:0px 2px 17px hsl(0, 0%, 0%, 0.4);
  --text-shadows-heavy:0px 2px 17px hsl(0, 0%, 0%, 0.6);
  --outline-shadows-focus:inset 0px 0px 1px 0px hsl(222, 50%, 32%, 1), inset 0px 0px 1px 0px hsl(222, 50%, 32%, 1);
}
