:root{
  --media-mobile:screen and (max-width: 768px);
  --media-mobile-only:screen and (min-width: 0px) and (max-width: 768px);
  --media-tablet:screen and (min-width: 768px);
  --media-tablet-only:screen and (min-width: 768px) and (max-width: 1280px);
  --media-desktop-small:screen and (min-width: 1280px);
  --media-desktop-small-only:screen and (min-width: 1280px) and (max-width: 1440px);
  --media-desktop-medium:screen and (min-width: 1440px);
  --media-desktop-medium-only:screen and (min-width: 1440px) and (max-width: 1600px);
  --media-desktop-large:screen and (min-width: 1600px);
  --media-desktop-large-only:screen and (min-width: 1600px) and (max-width: 1920px);
  --media-desktop-x-large:screen and (min-width: 1920px);
  --media-desktop-x-large-only:screen and (min-width: 1920px);
  --breakpoints-mobile-x-small:320px;
  --breakpoints-mobile-small:375px;
  --breakpoints-mobile-medium:414px;
  --breakpoints-tablet-portrait:768px;
  --breakpoints-tablet-landscape:1024px;
  --breakpoints-desktop-small:1280px;
  --breakpoints-desktop-medium:1440px;
  --breakpoints-desktop-large:1600px;
  --breakpoints-desktop-x-large:1920px;
  --content-margins-mobile:24px;
  --content-margins-tablet:32px;
  --content-margins-desktop:48px;
  --content-width-desktop-blog-max-width:800px;
  --content-width-desktop-max-width:1600px;
  --content-width-desktop-docs-max-width:800px;
  --sidebar-width-desktop:300px;
  --sidebar-width-tablet:300px;
  --sidebar-width-mobile:375px;
  --navbar-height-desktop:64px;
  --navbar-height-tablet:60px;
  --navbar-height-mobile:60px;
  --aside-width:260px;
  --footer-height-desktop:210px;
  --footer-height-tablet:210px;
  --footer-height-mobile:210px;
  --var-names-breakpoints-mobile-x-small:--layout-breakpoints-mobile-x-small;
  --var-names-breakpoints-mobile-small:--layout-breakpoints-mobile-small;
  --var-names-breakpoints-mobile-medium:--layout-breakpoints-mobile-medium;
  --var-names-breakpoints-tablet-portrait:--layout-breakpoints-tablet-portrait;
  --var-names-breakpoints-tablet-landscape:--layout-breakpoints-tablet-landscape;
  --var-names-breakpoints-desktop-small:--layout-breakpoints-desktop-small;
  --var-names-breakpoints-desktop-medium:--layout-breakpoints-desktop-medium;
  --var-names-breakpoints-desktop-large:--layout-breakpoints-desktop-large;
  --var-names-breakpoints-desktop-x-large:--layout-breakpoints-desktop-x-large;
  --var-names-content-margins:--layout-content-margins;
  --var-names-content-width-desktop-blog-max-width:--layout-content-width-desktop-blog-max-width;
  --var-names-content-width-desktop-max-width:--layout-content-width-desktop-max-width;
  --var-names-content-width-desktop-docs-max-width:--layout-content-width-desktop-docs-max-width;
  --var-names-sidebar-width:--layout-sidebar-width;
  --var-names-navbar-height:--layout-navbar-height;
  --var-names-aside-width:--layout-aside-width;
  --var-names-footer-height:--layout-footer-height;
  --var-breakpoints-mobile-x-small:var(--layout-breakpoints-mobile-x-small);
  --var-breakpoints-mobile-small:var(--layout-breakpoints-mobile-small);
  --var-breakpoints-mobile-medium:var(--layout-breakpoints-mobile-medium);
  --var-breakpoints-tablet-portrait:var(--layout-breakpoints-tablet-portrait);
  --var-breakpoints-tablet-landscape:var(--layout-breakpoints-tablet-landscape);
  --var-breakpoints-desktop-small:var(--layout-breakpoints-desktop-small);
  --var-breakpoints-desktop-medium:var(--layout-breakpoints-desktop-medium);
  --var-breakpoints-desktop-large:var(--layout-breakpoints-desktop-large);
  --var-breakpoints-desktop-x-large:var(--layout-breakpoints-desktop-x-large);
  --var-content-margins:var(--layout-content-margins);
  --var-content-width-desktop-blog-max-width:var(--layout-content-width-desktop-blog-max-width);
  --var-content-width-desktop-max-width:var(--layout-content-width-desktop-max-width);
  --var-content-width-desktop-docs-max-width:var(--layout-content-width-desktop-docs-max-width);
  --var-sidebar-width:var(--layout-sidebar-width);
  --var-navbar-height:var(--layout-navbar-height);
  --var-aside-width:var(--layout-aside-width);
  --var-footer-height:var(--layout-footer-height);
  --z-index-chat-bubble:130;
  --z-index-notifications:120;
  --z-index-nav-bar:100;
  --z-index-side-bar-mobile:110;
  --z-index-side-bar-desktop:90;
  --z-index-dialog:70;
  --z-index-content:50;
}
