:root{
  --media-mobile:screen and (max-width: 768px);
  --media-mobileOnly:screen and (min-width: 0px) and (max-width: 768px);
  --media-tablet:screen and (min-width: 768px);
  --media-tabletOnly:screen and (min-width: 768px) and (max-width: 1280px);
  --media-desktopSmall:screen and (min-width: 1280px);
  --media-desktopSmallOnly:screen and (min-width: 1280px) and (max-width: 1440px);
  --media-desktopMedium:screen and (min-width: 1440px);
  --media-desktopMediumOnly:screen and (min-width: 1440px) and (max-width: 1600px);
  --media-desktopLarge:screen and (min-width: 1600px);
  --media-desktopLargeOnly:screen and (min-width: 1600px) and (max-width: 1920px);
  --media-desktopXLarge:screen and (min-width: 1920px);
  --media-desktopXLargeOnly:screen and (min-width: 1920px);
  --breakpoints-mobileXSmall:320px;
  --breakpoints-mobileSmall:375px;
  --breakpoints-mobileMedium:414px;
  --breakpoints-tabletPortrait:768px;
  --breakpoints-tabletLandscape:1024px;
  --breakpoints-desktopSmall:1280px;
  --breakpoints-desktopMedium:1440px;
  --breakpoints-desktopLarge:1600px;
  --breakpoints-desktopXLarge:1920px;
  --contentMargins-mobile:24px;
  --contentMargins-tablet:32px;
  --contentMargins-desktop:48px;
  --contentWidth-desktopBlogMaxWidth:800px;
  --contentWidth-desktopMaxWidth:1600px;
  --contentWidth-desktopDocsMaxWidth:800px;
  --sidebarWidth-desktop:300px;
  --sidebarWidth-tablet:300px;
  --sidebarWidth-mobile:375px;
  --navbarHeight-desktop:64px;
  --navbarHeight-tablet:60px;
  --navbarHeight-mobile:60px;
  --asideWidth:260px;
  --footerHeight-desktop:210px;
  --footerHeight-tablet:210px;
  --footerHeight-mobile:210px;
  --varNames-breakpoints-mobileXSmall:--layout-breakpoints-mobile-x-small;
  --varNames-breakpoints-mobileSmall:--layout-breakpoints-mobile-small;
  --varNames-breakpoints-mobileMedium:--layout-breakpoints-mobile-medium;
  --varNames-breakpoints-tabletPortrait:--layout-breakpoints-tablet-portrait;
  --varNames-breakpoints-tabletLandscape:--layout-breakpoints-tablet-landscape;
  --varNames-breakpoints-desktopSmall:--layout-breakpoints-desktop-small;
  --varNames-breakpoints-desktopMedium:--layout-breakpoints-desktop-medium;
  --varNames-breakpoints-desktopLarge:--layout-breakpoints-desktop-large;
  --varNames-breakpoints-desktopXLarge:--layout-breakpoints-desktop-x-large;
  --varNames-contentMargins:--layout-content-margins;
  --varNames-contentWidth-desktopBlogMaxWidth:--layout-content-width-desktop-blog-max-width;
  --varNames-contentWidth-desktopMaxWidth:--layout-content-width-desktop-max-width;
  --varNames-contentWidth-desktopDocsMaxWidth:--layout-content-width-desktop-docs-max-width;
  --varNames-sidebarWidth:--layout-sidebar-width;
  --varNames-navbarHeight:--layout-navbar-height;
  --varNames-asideWidth:--layout-aside-width;
  --varNames-footerHeight:--layout-footer-height;
  --var-breakpoints-mobileXSmall:var(--layout-breakpoints-mobile-x-small);
  --var-breakpoints-mobileSmall:var(--layout-breakpoints-mobile-small);
  --var-breakpoints-mobileMedium:var(--layout-breakpoints-mobile-medium);
  --var-breakpoints-tabletPortrait:var(--layout-breakpoints-tablet-portrait);
  --var-breakpoints-tabletLandscape:var(--layout-breakpoints-tablet-landscape);
  --var-breakpoints-desktopSmall:var(--layout-breakpoints-desktop-small);
  --var-breakpoints-desktopMedium:var(--layout-breakpoints-desktop-medium);
  --var-breakpoints-desktopLarge:var(--layout-breakpoints-desktop-large);
  --var-breakpoints-desktopXLarge:var(--layout-breakpoints-desktop-x-large);
  --var-contentMargins:var(--layout-content-margins);
  --var-contentWidth-desktopBlogMaxWidth:var(--layout-content-width-desktop-blog-max-width);
  --var-contentWidth-desktopMaxWidth:var(--layout-content-width-desktop-max-width);
  --var-contentWidth-desktopDocsMaxWidth:var(--layout-content-width-desktop-docs-max-width);
  --var-sidebarWidth:var(--layout-sidebar-width);
  --var-navbarHeight:var(--layout-navbar-height);
  --var-asideWidth:var(--layout-aside-width);
  --var-footerHeight:var(--layout-footer-height);
  --zIndex-chatBubble:130;
  --zIndex-notifications:120;
  --zIndex-navBar:100;
  --zIndex-sideBarMobile:110;
  --zIndex-sideBarDesktop:90;
  --zIndex-dialog:70;
  --zIndex-content:50;
}
