:root{
  --baseFontSize:9px;
  --ratio-mobile:1.44;
  --ratio-tablet:1.44;
  --ratio-desktop:1.618;
  --sizes-mobile-x0:6px;
  --sizes-mobile-x1:9px;
  --sizes-mobile-x2:14px;
  --sizes-mobile-x3:20px;
  --sizes-mobile-x4:30px;
  --sizes-mobile-x5:45px;
  --sizes-mobile-x6:68px;
  --sizes-mobile-x7:110px;
  --sizes-mobile-x8:179px;
  --sizes-mobile-x9:289px;
  --sizes-mobile-x10:468px;
  --sizes-tablet-x0:4px;
  --sizes-tablet-x1:9px;
  --sizes-tablet-x2:13px;
  --sizes-tablet-x3:21px;
  --sizes-tablet-x4:34px;
  --sizes-tablet-x5:55px;
  --sizes-tablet-x6:89px;
  --sizes-tablet-x7:144px;
  --sizes-tablet-x8:232px;
  --sizes-tablet-x9:375px;
  --sizes-tablet-x10:606px;
  --sizes-desktop-x0:4px;
  --sizes-desktop-x1:9px;
  --sizes-desktop-x2:13px;
  --sizes-desktop-x3:21px;
  --sizes-desktop-x4:34px;
  --sizes-desktop-x5:55px;
  --sizes-desktop-x6:89px;
  --sizes-desktop-x7:144px;
  --sizes-desktop-x8:232px;
  --sizes-desktop-x9:375px;
  --sizes-desktop-x10:606px;
}
:root{
  --sizing-ratio-mobile:var(--ratio-mobile);
  --sizing-ratio-tablet:var(--ratio-tablet);
  --sizing-ratio-desktop:var(--ratio-desktop);
  --size-x0:var(--sizes-mobile-x0);
  --size-x1:var(--sizes-mobile-x1);
  --size-x2:var(--sizes-mobile-x2);
  --size-x3:var(--sizes-mobile-x3);
  --size-x4:var(--sizes-mobile-x4);
  --size-x5:var(--sizes-mobile-x5);
  --size-x6:var(--sizes-mobile-x6);
  --size-x7:var(--sizes-mobile-x7);
  --size-x8:var(--sizes-mobile-x8);
  --size-x9:var(--sizes-mobile-x9);
  --size-x10:var(--sizes-mobile-x10);
}
@media screen and (min-width: 768px){
  :root{
    --size-x0:var(--sizes-tablet-x0);
    --size-x1:var(--sizes-tablet-x1);
    --size-x2:var(--sizes-tablet-x2);
    --size-x3:var(--sizes-tablet-x3);
    --size-x4:var(--sizes-tablet-x4);
    --size-x5:var(--sizes-tablet-x5);
    --size-x6:var(--sizes-tablet-x6);
    --size-x7:var(--sizes-tablet-x7);
    --size-x8:var(--sizes-tablet-x8);
    --size-x9:var(--sizes-tablet-x9);
    --size-x10:var(--sizes-tablet-x10);
  }
}
@media screen and (min-width: 1280px){
  :root{
    --size-x0:var(--sizes-desktop-x0);
    --size-x1:var(--sizes-desktop-x1);
    --size-x2:var(--sizes-desktop-x2);
    --size-x3:var(--sizes-desktop-x3);
    --size-x4:var(--sizes-desktop-x4);
    --size-x5:var(--sizes-desktop-x5);
    --size-x6:var(--sizes-desktop-x6);
    --size-x7:var(--sizes-desktop-x7);
    --size-x8:var(--sizes-desktop-x8);
    --size-x9:var(--sizes-desktop-x9);
    --size-x10:var(--sizes-desktop-x10);
  }
}
