:root{
  --fonts-sans:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --fonts-sansAlternate:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --fonts-serif:PT Serif,ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
  --fonts-monospace:Source Sans Pro,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --titles-font:PT Serif,ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
  --titles-mobile-t1-fontWeight:700;
  --titles-mobile-t1-fontStyle:undefined;
  --titles-mobile-t1-letterSpacing:0px;
  --titles-mobile-t1-textTransform:undefined;
  --titles-mobile-t1-textDecoration:undefined;
  --titles-mobile-t1-font:PT Serif,ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
  --titles-mobile-t1-fontFamily:PT Serif,ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
  --titles-mobile-t1-capsize-fontSize:48.5714px;
  --titles-mobile-t1-capsize-lineHeight:58px;
  --titles-mobile-t1-capsize-capHeightTrim:-0.2736em;
  --titles-mobile-t1-capsize-baselineTrim:-0.2206em;
  --titles-mobile-t2-fontWeight:700;
  --titles-mobile-t2-fontStyle:undefined;
  --titles-mobile-t2-letterSpacing:0px;
  --titles-mobile-t2-textTransform:undefined;
  --titles-mobile-t2-textDecoration:undefined;
  --titles-mobile-t2-font:PT Serif,ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
  --titles-mobile-t2-fontFamily:PT Serif,ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
  --titles-mobile-t2-capsize-fontSize:40px;
  --titles-mobile-t2-capsize-lineHeight:50px;
  --titles-mobile-t2-capsize-capHeightTrim:-0.3015em;
  --titles-mobile-t2-capsize-baselineTrim:-0.2485em;
  --titles-tablet-t1-fontWeight:700;
  --titles-tablet-t1-fontStyle:undefined;
  --titles-tablet-t1-letterSpacing:0px;
  --titles-tablet-t1-textTransform:undefined;
  --titles-tablet-t1-textDecoration:undefined;
  --titles-tablet-t1-font:PT Serif,ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
  --titles-tablet-t1-fontFamily:PT Serif,ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
  --titles-tablet-t1-capsize-fontSize:54.2857px;
  --titles-tablet-t1-capsize-lineHeight:66px;
  --titles-tablet-t1-capsize-capHeightTrim:-0.2844em;
  --titles-tablet-t1-capsize-baselineTrim:-0.2314em;
  --titles-tablet-t2-fontWeight:700;
  --titles-tablet-t2-fontStyle:undefined;
  --titles-tablet-t2-letterSpacing:0px;
  --titles-tablet-t2-textTransform:undefined;
  --titles-tablet-t2-textDecoration:undefined;
  --titles-tablet-t2-font:PT Serif,ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
  --titles-tablet-t2-fontFamily:PT Serif,ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
  --titles-tablet-t2-capsize-fontSize:45.7143px;
  --titles-tablet-t2-capsize-lineHeight:58px;
  --titles-tablet-t2-capsize-capHeightTrim:-0.3109em;
  --titles-tablet-t2-capsize-baselineTrim:-0.2579em;
  --titles-desktop-t1-fontWeight:700;
  --titles-desktop-t1-fontStyle:undefined;
  --titles-desktop-t1-letterSpacing:0px;
  --titles-desktop-t1-textTransform:undefined;
  --titles-desktop-t1-textDecoration:undefined;
  --titles-desktop-t1-font:PT Serif,ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
  --titles-desktop-t1-fontFamily:PT Serif,ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
  --titles-desktop-t1-capsize-fontSize:60px;
  --titles-desktop-t1-capsize-lineHeight:87px;
  --titles-desktop-t1-capsize-capHeightTrim:-0.4015em;
  --titles-desktop-t1-capsize-baselineTrim:-0.3485em;
  --titles-desktop-t2-fontWeight:700;
  --titles-desktop-t2-fontStyle:undefined;
  --titles-desktop-t2-letterSpacing:0px;
  --titles-desktop-t2-textTransform:undefined;
  --titles-desktop-t2-textDecoration:undefined;
  --titles-desktop-t2-font:PT Serif,ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
  --titles-desktop-t2-fontFamily:PT Serif,ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
  --titles-desktop-t2-capsize-fontSize:51.4286px;
  --titles-desktop-t2-capsize-lineHeight:68px;
  --titles-desktop-t2-capsize-capHeightTrim:-0.3376em;
  --titles-desktop-t2-capsize-baselineTrim:-0.2846em;
  --headings-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-mobile-h1-fontWeight:700;
  --headings-mobile-h1-fontStyle:undefined;
  --headings-mobile-h1-letterSpacing:-0.03em;
  --headings-mobile-h1-textTransform:undefined;
  --headings-mobile-h1-textDecoration:undefined;
  --headings-mobile-h1-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-mobile-h1-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-mobile-h1-capsize-fontSize:35.75px;
  --headings-mobile-h1-capsize-lineHeight:46px;
  --headings-mobile-h1-capsize-capHeightTrim:-0.2797em;
  --headings-mobile-h1-capsize-baselineTrim:-0.2797em;
  --headings-mobile-h2-fontWeight:700;
  --headings-mobile-h2-fontStyle:undefined;
  --headings-mobile-h2-letterSpacing:-0.02em;
  --headings-mobile-h2-textTransform:undefined;
  --headings-mobile-h2-textDecoration:undefined;
  --headings-mobile-h2-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-mobile-h2-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-mobile-h2-capsize-fontSize:27.5px;
  --headings-mobile-h2-capsize-lineHeight:38px;
  --headings-mobile-h2-capsize-capHeightTrim:-0.3273em;
  --headings-mobile-h2-capsize-baselineTrim:-0.3273em;
  --headings-mobile-h3-fontWeight:600;
  --headings-mobile-h3-fontStyle:undefined;
  --headings-mobile-h3-letterSpacing:-0.02em;
  --headings-mobile-h3-textTransform:undefined;
  --headings-mobile-h3-textDecoration:undefined;
  --headings-mobile-h3-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-mobile-h3-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-mobile-h3-capsize-fontSize:22px;
  --headings-mobile-h3-capsize-lineHeight:32px;
  --headings-mobile-h3-capsize-capHeightTrim:-0.3636em;
  --headings-mobile-h3-capsize-baselineTrim:-0.3636em;
  --headings-mobile-h4-fontWeight:600;
  --headings-mobile-h4-fontStyle:undefined;
  --headings-mobile-h4-letterSpacing:-0.02em;
  --headings-mobile-h4-textTransform:undefined;
  --headings-mobile-h4-textDecoration:undefined;
  --headings-mobile-h4-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-mobile-h4-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-mobile-h4-capsize-fontSize:19.25px;
  --headings-mobile-h4-capsize-lineHeight:28px;
  --headings-mobile-h4-capsize-capHeightTrim:-0.3636em;
  --headings-mobile-h4-capsize-baselineTrim:-0.3636em;
  --headings-tablet-h1-fontWeight:700;
  --headings-tablet-h1-fontStyle:undefined;
  --headings-tablet-h1-letterSpacing:-0.03em;
  --headings-tablet-h1-textTransform:undefined;
  --headings-tablet-h1-textDecoration:undefined;
  --headings-tablet-h1-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-tablet-h1-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-tablet-h1-capsize-fontSize:35.75px;
  --headings-tablet-h1-capsize-lineHeight:46px;
  --headings-tablet-h1-capsize-capHeightTrim:-0.2797em;
  --headings-tablet-h1-capsize-baselineTrim:-0.2797em;
  --headings-tablet-h2-fontWeight:700;
  --headings-tablet-h2-fontStyle:undefined;
  --headings-tablet-h2-letterSpacing:-0.02em;
  --headings-tablet-h2-textTransform:undefined;
  --headings-tablet-h2-textDecoration:undefined;
  --headings-tablet-h2-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-tablet-h2-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-tablet-h2-capsize-fontSize:27.5px;
  --headings-tablet-h2-capsize-lineHeight:38px;
  --headings-tablet-h2-capsize-capHeightTrim:-0.3273em;
  --headings-tablet-h2-capsize-baselineTrim:-0.3273em;
  --headings-tablet-h3-fontWeight:600;
  --headings-tablet-h3-fontStyle:undefined;
  --headings-tablet-h3-letterSpacing:-0.02em;
  --headings-tablet-h3-textTransform:undefined;
  --headings-tablet-h3-textDecoration:undefined;
  --headings-tablet-h3-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-tablet-h3-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-tablet-h3-capsize-fontSize:22px;
  --headings-tablet-h3-capsize-lineHeight:32px;
  --headings-tablet-h3-capsize-capHeightTrim:-0.3636em;
  --headings-tablet-h3-capsize-baselineTrim:-0.3636em;
  --headings-tablet-h4-fontWeight:600;
  --headings-tablet-h4-fontStyle:undefined;
  --headings-tablet-h4-letterSpacing:-0.02em;
  --headings-tablet-h4-textTransform:undefined;
  --headings-tablet-h4-textDecoration:undefined;
  --headings-tablet-h4-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-tablet-h4-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-tablet-h4-capsize-fontSize:19.25px;
  --headings-tablet-h4-capsize-lineHeight:28px;
  --headings-tablet-h4-capsize-capHeightTrim:-0.3636em;
  --headings-tablet-h4-capsize-baselineTrim:-0.3636em;
  --headings-desktop-h1-fontWeight:700;
  --headings-desktop-h1-fontStyle:undefined;
  --headings-desktop-h1-letterSpacing:-0.03em;
  --headings-desktop-h1-textTransform:undefined;
  --headings-desktop-h1-textDecoration:undefined;
  --headings-desktop-h1-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-desktop-h1-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-desktop-h1-capsize-fontSize:36px;
  --headings-desktop-h1-capsize-lineHeight:44.1818px;
  --headings-desktop-h1-capsize-capHeightTrim:-0.25em;
  --headings-desktop-h1-capsize-baselineTrim:-0.25em;
  --headings-desktop-h2-fontWeight:700;
  --headings-desktop-h2-fontStyle:undefined;
  --headings-desktop-h2-letterSpacing:-0.02em;
  --headings-desktop-h2-textTransform:undefined;
  --headings-desktop-h2-textDecoration:undefined;
  --headings-desktop-h2-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-desktop-h2-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-desktop-h2-capsize-fontSize:28px;
  --headings-desktop-h2-capsize-lineHeight:36.3636px;
  --headings-desktop-h2-capsize-capHeightTrim:-0.2857em;
  --headings-desktop-h2-capsize-baselineTrim:-0.2857em;
  --headings-desktop-h3-fontWeight:600;
  --headings-desktop-h3-fontStyle:undefined;
  --headings-desktop-h3-letterSpacing:-0.02em;
  --headings-desktop-h3-textTransform:undefined;
  --headings-desktop-h3-textDecoration:undefined;
  --headings-desktop-h3-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-desktop-h3-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-desktop-h3-capsize-fontSize:20.0001px;
  --headings-desktop-h3-capsize-lineHeight:28.5455px;
  --headings-desktop-h3-capsize-capHeightTrim:-0.35em;
  --headings-desktop-h3-capsize-baselineTrim:-0.35em;
  --headings-desktop-h4-fontWeight:600;
  --headings-desktop-h4-fontStyle:undefined;
  --headings-desktop-h4-letterSpacing:-0.02em;
  --headings-desktop-h4-textTransform:undefined;
  --headings-desktop-h4-textDecoration:undefined;
  --headings-desktop-h4-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-desktop-h4-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --headings-desktop-h4-capsize-fontSize:16px;
  --headings-desktop-h4-capsize-lineHeight:25.6364px;
  --headings-desktop-h4-capsize-capHeightTrim:-0.4375em;
  --headings-desktop-h4-capsize-baselineTrim:-0.4375em;
  --paragraphs-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-mobile-large-fontWeight:400;
  --paragraphs-mobile-large-fontStyle:undefined;
  --paragraphs-mobile-large-letterSpacing:0px;
  --paragraphs-mobile-large-textTransform:undefined;
  --paragraphs-mobile-large-textDecoration:undefined;
  --paragraphs-mobile-large-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-mobile-large-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-mobile-large-capsize-fontSize:18px;
  --paragraphs-mobile-large-capsize-lineHeight:29.0909px;
  --paragraphs-mobile-large-capsize-capHeightTrim:-0.4444em;
  --paragraphs-mobile-large-capsize-baselineTrim:-0.4444em;
  --paragraphs-mobile-medium-fontWeight:400;
  --paragraphs-mobile-medium-fontStyle:undefined;
  --paragraphs-mobile-medium-letterSpacing:0px;
  --paragraphs-mobile-medium-textTransform:undefined;
  --paragraphs-mobile-medium-textDecoration:undefined;
  --paragraphs-mobile-medium-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-mobile-medium-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-mobile-medium-capsize-fontSize:16px;
  --paragraphs-mobile-medium-capsize-lineHeight:25.6364px;
  --paragraphs-mobile-medium-capsize-capHeightTrim:-0.4375em;
  --paragraphs-mobile-medium-capsize-baselineTrim:-0.4375em;
  --paragraphs-mobile-small-fontWeight:400;
  --paragraphs-mobile-small-fontStyle:undefined;
  --paragraphs-mobile-small-letterSpacing:0px;
  --paragraphs-mobile-small-textTransform:undefined;
  --paragraphs-mobile-small-textDecoration:undefined;
  --paragraphs-mobile-small-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-mobile-small-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-mobile-small-capsize-fontSize:14px;
  --paragraphs-mobile-small-capsize-lineHeight:22.1818px;
  --paragraphs-mobile-small-capsize-capHeightTrim:-0.4286em;
  --paragraphs-mobile-small-capsize-baselineTrim:-0.4286em;
  --paragraphs-mobile-xSmall-fontWeight:400;
  --paragraphs-mobile-xSmall-fontStyle:undefined;
  --paragraphs-mobile-xSmall-letterSpacing:0px;
  --paragraphs-mobile-xSmall-textTransform:undefined;
  --paragraphs-mobile-xSmall-textDecoration:undefined;
  --paragraphs-mobile-xSmall-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-mobile-xSmall-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-mobile-xSmall-capsize-fontSize:12px;
  --paragraphs-mobile-xSmall-capsize-lineHeight:18.7273px;
  --paragraphs-mobile-xSmall-capsize-capHeightTrim:-0.4167em;
  --paragraphs-mobile-xSmall-capsize-baselineTrim:-0.4167em;
  --paragraphs-tablet-large-fontWeight:400;
  --paragraphs-tablet-large-fontStyle:undefined;
  --paragraphs-tablet-large-letterSpacing:0px;
  --paragraphs-tablet-large-textTransform:undefined;
  --paragraphs-tablet-large-textDecoration:undefined;
  --paragraphs-tablet-large-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-tablet-large-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-tablet-large-capsize-fontSize:18px;
  --paragraphs-tablet-large-capsize-lineHeight:29.0909px;
  --paragraphs-tablet-large-capsize-capHeightTrim:-0.4444em;
  --paragraphs-tablet-large-capsize-baselineTrim:-0.4444em;
  --paragraphs-tablet-medium-fontWeight:400;
  --paragraphs-tablet-medium-fontStyle:undefined;
  --paragraphs-tablet-medium-letterSpacing:0px;
  --paragraphs-tablet-medium-textTransform:undefined;
  --paragraphs-tablet-medium-textDecoration:undefined;
  --paragraphs-tablet-medium-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-tablet-medium-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-tablet-medium-capsize-fontSize:16px;
  --paragraphs-tablet-medium-capsize-lineHeight:25.6364px;
  --paragraphs-tablet-medium-capsize-capHeightTrim:-0.4375em;
  --paragraphs-tablet-medium-capsize-baselineTrim:-0.4375em;
  --paragraphs-tablet-small-fontWeight:400;
  --paragraphs-tablet-small-fontStyle:undefined;
  --paragraphs-tablet-small-letterSpacing:0px;
  --paragraphs-tablet-small-textTransform:undefined;
  --paragraphs-tablet-small-textDecoration:undefined;
  --paragraphs-tablet-small-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-tablet-small-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-tablet-small-capsize-fontSize:14px;
  --paragraphs-tablet-small-capsize-lineHeight:22.1818px;
  --paragraphs-tablet-small-capsize-capHeightTrim:-0.4286em;
  --paragraphs-tablet-small-capsize-baselineTrim:-0.4286em;
  --paragraphs-tablet-xSmall-fontWeight:400;
  --paragraphs-tablet-xSmall-fontStyle:undefined;
  --paragraphs-tablet-xSmall-letterSpacing:0px;
  --paragraphs-tablet-xSmall-textTransform:undefined;
  --paragraphs-tablet-xSmall-textDecoration:undefined;
  --paragraphs-tablet-xSmall-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-tablet-xSmall-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-tablet-xSmall-capsize-fontSize:12px;
  --paragraphs-tablet-xSmall-capsize-lineHeight:18.7273px;
  --paragraphs-tablet-xSmall-capsize-capHeightTrim:-0.4167em;
  --paragraphs-tablet-xSmall-capsize-baselineTrim:-0.4167em;
  --paragraphs-desktop-large-fontWeight:400;
  --paragraphs-desktop-large-fontStyle:undefined;
  --paragraphs-desktop-large-letterSpacing:0px;
  --paragraphs-desktop-large-textTransform:undefined;
  --paragraphs-desktop-large-textDecoration:undefined;
  --paragraphs-desktop-large-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-desktop-large-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-desktop-large-capsize-fontSize:18px;
  --paragraphs-desktop-large-capsize-lineHeight:31.0909px;
  --paragraphs-desktop-large-capsize-capHeightTrim:-0.5em;
  --paragraphs-desktop-large-capsize-baselineTrim:-0.5em;
  --paragraphs-desktop-medium-fontWeight:400;
  --paragraphs-desktop-medium-fontStyle:undefined;
  --paragraphs-desktop-medium-letterSpacing:0px;
  --paragraphs-desktop-medium-textTransform:undefined;
  --paragraphs-desktop-medium-textDecoration:undefined;
  --paragraphs-desktop-medium-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-desktop-medium-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-desktop-medium-capsize-fontSize:16px;
  --paragraphs-desktop-medium-capsize-lineHeight:27.6364px;
  --paragraphs-desktop-medium-capsize-capHeightTrim:-0.5em;
  --paragraphs-desktop-medium-capsize-baselineTrim:-0.5em;
  --paragraphs-desktop-small-fontWeight:400;
  --paragraphs-desktop-small-fontStyle:undefined;
  --paragraphs-desktop-small-letterSpacing:0px;
  --paragraphs-desktop-small-textTransform:undefined;
  --paragraphs-desktop-small-textDecoration:undefined;
  --paragraphs-desktop-small-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-desktop-small-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-desktop-small-capsize-fontSize:14px;
  --paragraphs-desktop-small-capsize-lineHeight:24.1818px;
  --paragraphs-desktop-small-capsize-capHeightTrim:-0.5em;
  --paragraphs-desktop-small-capsize-baselineTrim:-0.5em;
  --paragraphs-desktop-xSmall-fontWeight:400;
  --paragraphs-desktop-xSmall-fontStyle:undefined;
  --paragraphs-desktop-xSmall-letterSpacing:0px;
  --paragraphs-desktop-xSmall-textTransform:undefined;
  --paragraphs-desktop-xSmall-textDecoration:undefined;
  --paragraphs-desktop-xSmall-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-desktop-xSmall-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --paragraphs-desktop-xSmall-capsize-fontSize:12px;
  --paragraphs-desktop-xSmall-capsize-lineHeight:20.7273px;
  --paragraphs-desktop-xSmall-capsize-capHeightTrim:-0.5em;
  --paragraphs-desktop-xSmall-capsize-baselineTrim:-0.5em;
  --paragraphs-styles-bold-fontWeight:600;
  --paragraphs-styles-bold-fontStyle:undefined;
  --paragraphs-styles-bold-letterSpacing:0px;
  --paragraphs-styles-bold-textTransform:undefined;
  --paragraphs-styles-bold-textDecoration:undefined;
  --paragraphs-styles-italic-fontWeight:400;
  --paragraphs-styles-italic-fontStyle:italic;
  --paragraphs-styles-italic-letterSpacing:0px;
  --paragraphs-styles-italic-textTransform:undefined;
  --paragraphs-styles-italic-textDecoration:undefined;
  --labels-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --labels-mobile-medium-fontWeight:600;
  --labels-mobile-medium-fontStyle:undefined;
  --labels-mobile-medium-letterSpacing:0px;
  --labels-mobile-medium-textTransform:undefined;
  --labels-mobile-medium-textDecoration:undefined;
  --labels-mobile-medium-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --labels-mobile-medium-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --labels-mobile-medium-capsize-fontSize:18px;
  --labels-mobile-medium-capsize-lineHeight:25.0909px;
  --labels-mobile-medium-capsize-capHeightTrim:-0.3333em;
  --labels-mobile-medium-capsize-baselineTrim:-0.3333em;
  --labels-mobile-small-fontWeight:600;
  --labels-mobile-small-fontStyle:undefined;
  --labels-mobile-small-letterSpacing:0px;
  --labels-mobile-small-textTransform:undefined;
  --labels-mobile-small-textDecoration:undefined;
  --labels-mobile-small-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --labels-mobile-small-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --labels-mobile-small-capsize-fontSize:16px;
  --labels-mobile-small-capsize-lineHeight:23.6364px;
  --labels-mobile-small-capsize-capHeightTrim:-0.375em;
  --labels-mobile-small-capsize-baselineTrim:-0.375em;
  --labels-mobile-xSmall-fontWeight:600;
  --labels-mobile-xSmall-fontStyle:undefined;
  --labels-mobile-xSmall-letterSpacing:0px;
  --labels-mobile-xSmall-textTransform:undefined;
  --labels-mobile-xSmall-textDecoration:undefined;
  --labels-mobile-xSmall-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --labels-mobile-xSmall-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --labels-mobile-xSmall-capsize-fontSize:12px;
  --labels-mobile-xSmall-capsize-lineHeight:20.7273px;
  --labels-mobile-xSmall-capsize-capHeightTrim:-0.5em;
  --labels-mobile-xSmall-capsize-baselineTrim:-0.5em;
  --labels-tablet-medium-fontWeight:600;
  --labels-tablet-medium-fontStyle:undefined;
  --labels-tablet-medium-letterSpacing:0px;
  --labels-tablet-medium-textTransform:undefined;
  --labels-tablet-medium-textDecoration:undefined;
  --labels-tablet-medium-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --labels-tablet-medium-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --labels-tablet-medium-capsize-fontSize:16.9999px;
  --labels-tablet-medium-capsize-lineHeight:24.3636px;
  --labels-tablet-medium-capsize-capHeightTrim:-0.3529em;
  --labels-tablet-medium-capsize-baselineTrim:-0.3529em;
  --labels-tablet-small-fontWeight:600;
  --labels-tablet-small-fontStyle:undefined;
  --labels-tablet-small-letterSpacing:0px;
  --labels-tablet-small-textTransform:undefined;
  --labels-tablet-small-textDecoration:undefined;
  --labels-tablet-small-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --labels-tablet-small-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --labels-tablet-small-capsize-fontSize:15px;
  --labels-tablet-small-capsize-lineHeight:22.9091px;
  --labels-tablet-small-capsize-capHeightTrim:-0.4em;
  --labels-tablet-small-capsize-baselineTrim:-0.4em;
  --labels-tablet-xSmall-fontWeight:600;
  --labels-tablet-xSmall-fontStyle:undefined;
  --labels-tablet-xSmall-letterSpacing:0px;
  --labels-tablet-xSmall-textTransform:undefined;
  --labels-tablet-xSmall-textDecoration:undefined;
  --labels-tablet-xSmall-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --labels-tablet-xSmall-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --labels-tablet-xSmall-capsize-fontSize:11px;
  --labels-tablet-xSmall-capsize-lineHeight:20px;
  --labels-tablet-xSmall-capsize-capHeightTrim:-0.5455em;
  --labels-tablet-xSmall-capsize-baselineTrim:-0.5455em;
  --labels-desktop-medium-fontWeight:600;
  --labels-desktop-medium-fontStyle:undefined;
  --labels-desktop-medium-letterSpacing:0px;
  --labels-desktop-medium-textTransform:undefined;
  --labels-desktop-medium-textDecoration:undefined;
  --labels-desktop-medium-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --labels-desktop-medium-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --labels-desktop-medium-capsize-fontSize:15px;
  --labels-desktop-medium-capsize-lineHeight:22.9091px;
  --labels-desktop-medium-capsize-capHeightTrim:-0.4em;
  --labels-desktop-medium-capsize-baselineTrim:-0.4em;
  --labels-desktop-small-fontWeight:600;
  --labels-desktop-small-fontStyle:undefined;
  --labels-desktop-small-letterSpacing:0px;
  --labels-desktop-small-textTransform:undefined;
  --labels-desktop-small-textDecoration:undefined;
  --labels-desktop-small-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --labels-desktop-small-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --labels-desktop-small-capsize-fontSize:14px;
  --labels-desktop-small-capsize-lineHeight:22.1818px;
  --labels-desktop-small-capsize-capHeightTrim:-0.4286em;
  --labels-desktop-small-capsize-baselineTrim:-0.4286em;
  --labels-desktop-xSmall-fontWeight:600;
  --labels-desktop-xSmall-fontStyle:undefined;
  --labels-desktop-xSmall-letterSpacing:0px;
  --labels-desktop-xSmall-textTransform:undefined;
  --labels-desktop-xSmall-textDecoration:undefined;
  --labels-desktop-xSmall-font:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --labels-desktop-xSmall-fontFamily:Inter,ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --labels-desktop-xSmall-capsize-fontSize:12px;
  --labels-desktop-xSmall-capsize-lineHeight:20.7273px;
  --labels-desktop-xSmall-capsize-capHeightTrim:-0.5em;
  --labels-desktop-xSmall-capsize-baselineTrim:-0.5em;
  --labels-styles-bold-fontWeight:600;
  --labels-styles-bold-fontStyle:undefined;
  --labels-styles-bold-letterSpacing:0px;
  --labels-styles-bold-textTransform:undefined;
  --labels-styles-bold-textDecoration:undefined;
  --labels-styles-boldUppercase-fontWeight:600;
  --labels-styles-boldUppercase-fontStyle:undefined;
  --labels-styles-boldUppercase-letterSpacing:0.06em;
  --labels-styles-boldUppercase-textTransform:uppercase;
  --labels-styles-boldUppercase-textDecoration:undefined;
  --labels-styles-uppercase-fontWeight:400;
  --labels-styles-uppercase-fontStyle:undefined;
  --labels-styles-uppercase-letterSpacing:0.06em;
  --labels-styles-uppercase-textTransform:uppercase;
  --labels-styles-uppercase-textDecoration:undefined;
}
