@import '../../styles/colors.scss';
@import '../../styles/sizing.scss';
@import '../../styles/layout.scss';
@import '../../styles/breakpoints.scss';

.wrapper {
  display: grid;
  justify-items: center;
  width: 100%;
  padding: $sizing-x7 0 $sizing-x7 0;
}

.container {
  display: grid;
  justify-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: $sizing-x4;

  margin: $sizing-x5 0;
  padding: 0 $margin-content;
  max-width: 100%;
  overflow-x: auto;
}

.title {
  text-align: center;
  margin: 0 0 $sizing-x3 0;
  max-width: 460px;
}

.paragraph {
  text-align: center;
  padding: $sizing-x3 0 $sizing-x5 0;
  max-width: 460px;
}

@media only screen and (min-width: $breakpoint-tablet-portrait) {
  .content {
    padding: 0 $margin-content-tablet;
  }
}

@media only screen and (min-width: $breakpoint-desktop-small) {
  .content {
    padding: 0 $margin-content-desktop;
  }
}
