@font-face {
    font-family: 'Blatant';
    src: url('BlatantRegular.woff2') format('woff2'),
        url('BlatantRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blatant';
    src: url('BlatantBoldItalic.woff2') format('woff2'),
        url('BlatantBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Blatant';
    src: url('BlatantItalic.woff2') format('woff2'),
        url('BlatantItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Blatant';
    src: url('BlatantBold.woff2') format('woff2'),
        url('BlatantBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

