@import '../styles/layout.scss';
@import '../styles/sizing.scss';
@import '../styles/colors.scss';
@import '../styles/typography.scss';
@import '../styles/breakpoints.scss';

.containerBox {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.wrapper {
  padding: $sizing-x6 $margin-content;
  min-height: 416px;

  display: flex;
  align-items: center;

  background-size: cover;
  background-position-y: center;
}

.subtitle {
  margin-bottom: $sizing-x3;
  color: $greyscale0;
}

.title {
  margin: $sizing-x3 0;
  color: $greyscale0;
}

.bottom-bar {
  width: 100%;
  rect {
    width: 100%;
  }
}

// TABLET CHANGE

@media only screen and (min-device-width: $breakpoint-tablet-portrait) {
  .containerBox {
    position: relative;
    grid-template-columns: $margin-content-tablet 1fr $margin-content-tablet;
    grid-template-areas: '. mid .';
  }

  .wrapper {
    grid-area: mid;
    z-index: 1;
    min-height: 477px;
    padding: $sizing-x6 $sizing-x5;
    margin: 0 0 40px;
  }

  .content {
    width: 60%;
  }

  .blackbox {
    position: absolute;
    bottom: 0;
    z-index: -1;
    height: 55%;
    width: 100%;

    background-color: $greyscale1000;
  }
  .bluebox {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 45%;
    background-color: $primary500;
  }
}

// DESKTOP CHANGE

@media only screen and (min-width: $breakpoint-desktop-small) {
  .containerBox {
    position: relative;
    justify-content: center;
    justify-items: center;
    grid-template-columns: $margin-content-desktop 1fr $margin-content-desktop;
    grid-template-areas: '. mid .';
  }

  .wrapper {
    grid-area: mid;
    z-index: 1;
    min-height: 645px;
    max-width: 1600px;
    padding: $sizing-x6 $sizing-x5;
    margin: 0 0 $sizing-x6;

    justify-self: center;
    width: 100%;
  }

  .content {
    max-width: 462px;
  }

  .blackbox {
    position: absolute;
    bottom: 0;
    z-index: -1;
    height: 55%;
    width: 100%;
    background-color: $greyscale1000;
  }

  .bluebox {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 45%;
    background-color: $primary500;
  }

  .title {
    @include typography-heading-h1;
  }
}
