@import '../styles/colors.scss';
@import '../styles/sizing.scss';
@import '../styles/layout.scss';

.wrapper {
  display: grid;
  grid-row-gap: $sizing-x5;
  padding: $sizing-x5 $margin-content;

  background-color: $greyscale1000;
  color: $greyscale0;
}

.title {
  margin-bottom: $sizing-x4;
}

.info-text {
  &:not(:last-child) {
    margin-bottom: 22px;
  }

  a {
    margin-left: 3px;
  }
}
