@import '../styles/fonts';
@import '../styles/typography';
@import '../styles/breakpoints';

.h1 {
  $font-size-h1-desktop: 60px;
  $font-size-h1-mobile: $font-size-h1-desktop / 1.6;

  @include typography-heading-h1;
  @include scaling($font-size-h1-mobile, $font-size-h1-desktop);
  line-height: 132%;
}

.h2 {
  $font-size-h2-desktop: 37px;
  $font-size-h2-mobile: $font-size-h2-desktop / 1.6;

  @include typography-heading-h2;
  @include scaling($font-size-h2-mobile, $font-size-h2-desktop);
  line-height: 132%;
}

.h3 {
  $font-size-h3-desktop: 22.8571px;
  $font-size-h3-mobile: $font-size-h3-desktop / 1.6;

  @include typography-heading-h3;
  @include scaling($font-size-h3-mobile, $font-size-h3-desktop);
  line-height: 132%;
}

.h4 {
  $font-size-h4-desktop: 16px;
  $font-size-h4-mobile: $font-size-h4-desktop / 1.6;

  @include typography-heading-h4;

  @include scaling($font-size-h4-mobile, $font-size-h4-desktop);
  line-height: 132%;
}
