@import '../styles/colors.scss';
@import '../styles/sizing.scss';

.wrapper {
  position: relative;
  display: flex;
}

.background-illustration {
  position: absolute;
  transform: translate(-15%, -15%);
  z-index: 0;
  top: 0;
  left: 0;
  height: 120%;
  width: 120%;
  overflow: visible;

  path {
    width: 100%;
  }
}

.content {
  z-index: 1;
  height: 100%;
  width: 100%;
}

.image {
  background-size: cover;
  min-height: 215px;
  min-width: 215px;

  height: 100%;
  width: 100%;
}
