@import '../styles/colors.scss';
@import '../styles/sizing.scss';

.wrapper {
  position: relative;
  display: flex;
}

.background-illustration {
  position: absolute;
  transform: translate(-22px, -22px);
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible;

  path {
    width: 100%;
  }
}

.content {
  z-index: 1;

  padding: 22px 0 0 22px;
  display: grid;
  grid-row-gap: $sizing-x3;
  justify-items: center;
}

.image {
  background-size: cover;
  min-height: 215px;
  min-width: 215px;
}
