@import '../styles/colors.scss';
@import '../styles/sizing.scss';
@import '../styles/layout.scss';
@import '../styles/shadows.scss';

.wrapper {
  display: grid;
  justify-items: center;
  padding: $sizing-x5 $margin-content;

  background-color: $greyscale0;
  color: $greyscale900;
}

.extra-padding {
  padding: $sizing-x7 $margin-content;

  & + .extra-padding:not(.reversed) {
    padding: 0 $margin-content $sizing-x7;
  }
}

.default {
  color: $greyscale1000;
}

.default-shadow {
  @include drop-shadow-large;
  z-index: 1;
}

.reversed {
  background-color: $primary500;
  color: $greyscale-inverted;
}

.image {
  margin-bottom: $sizing-x5;
}

.image-tabs {
  margin-bottom: $sizing-x3 * 2;
}

.title {
  text-align: center;
  margin-bottom: $sizing-x3 * 2;
}

.title-highlight {
  color: $primary500;
}

.text {
  text-align: center;
  white-space: pre-wrap; // handle mutli-line text
  margin-bottom: $sizing-x5;
  color: currentColor;
}

.info-tiles-wrapper {
  display: grid;
  grid-row-gap: $sizing-x4;

  margin-bottom: $sizing-x6;
}

.tabs-wrapper {
  display: grid;
  justify-items: center;
  row-gap: $sizing-x1;
  margin-bottom: $sizing-x3 * 2;
}
