@import '../styles/colors.scss';
@import '../styles/sizing.scss';
@import '../styles/layout.scss';

.wrapper {
  display: grid;
  justify-items: center;
  padding: $sizing-x5 $margin-content;

  background-color: $greyscale0;
  color: $greyscale900;
}

.extra-padding {
  padding: $sizing-x6 $margin-content;
}

.default {
}

.reversed {
  background-color: $primary500;
  color: $greyscale-inverted;
}

.image {
  margin-bottom: $sizing-x5;
}

.title {
  text-align: center;
  margin-bottom: $sizing-x3 * 2;
}

.title-highlight {
  color: $primary500;
}

.text {
  text-align: center;
  white-space: pre-wrap; // handle mutli-line text
  margin-bottom: $sizing-x5;
}

.info-tiles-wrapper {
  display: grid;
  grid-row-gap: $sizing-x4;

  margin-bottom: $sizing-x5;
}
