@import '../styles/colors.scss';
@import '../styles/sizing.scss';
@import '../styles/fonts';
@import '../styles/typography';

.wrapper {
  @include typography-paragraph-small;
  padding: $sizing-x1 $sizing-x2;
  margin-bottom: $sizing-x4;

  &:focus {
    outline: none;
  }
}

.default {
  background-color: $greyscale100;

  border: 0px;
  border-bottom: solid 1px $greyscale1000;

  &::placeholder {
    color: $greyscale600;
  }

  color: $greyscale900;
}

.reversed {
  background-color: $light-effect-transparent;

  border: 0px;
  border-bottom: solid 1px $greyscale-inverted;

  &::placeholder {
    color: $greyscale500;
  }

  color: $greyscale-inverted;
}
