@import '../styles/colors.scss';
@import '../styles/sizing.scss';
@import '../styles/fonts';
@import '../styles/typography';
@import '../styles/layout';
@import '../styles/breakpoints.scss';

.wrapper {
  background-color: $primary500;
}

.container {
  margin: $margin-content;
}

.formulaire {
  display: grid;
  padding-bottom: $sizing-x6;
  input {
    margin-bottom: $sizing-x3;
  }
}

.subtitle {
  text-align: center;
  padding-top: $sizing-x5;
  color: $greyscale-inverted;
}

.title {
  padding: $sizing-x5 0;
  text-align: center;
  color: $greyscale-inverted;
}

@media only screen and (min-width: $breakpoint-desktop-small) {
  .wrapper {
    background-color: $primary500;
    padding: 0 $margin-content;
  }

  .container {
    max-width: 1200px;
    display: flex;
    padding: $sizing-x6 0;
    margin: 24px auto;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 'content content content content content content content . form form form form';
    grid-template-rows: auto;
    column-gap: 20px;
  }

  .content {
    grid-area: content;
  }

  .containerForm {
    grid-area: form;
  }

  .formulaire {
    display: grid;

    input {
      margin-bottom: $sizing-x3;
    }
  }

  .subtitle {
    text-align: left;
    padding-bottom: $sizing-x3;
    color: $greyscale-inverted;
  }

  .title {
    padding-top: $sizing-x3;
    text-align: left;
    color: $greyscale-inverted;
  }
}

@media only screen and (min-width: $breakpoint-desktop-medium) {
  .container {
    grid-template-areas: 'content content content content content . form form form . . .';
  }
}
