@import '../styles/fonts';
@import '../styles/typography';
@import '../styles/breakpoints';

$ratio: 1.618;
$ratioViewport: 1.2;

$font-size-paragraph-large-desktop: 20px;
.large {
  $font-size-paragraph-large-mobile: 18px;

  @include typography-paragraph-large;
  @include scaling($font-size-paragraph-large-mobile, $font-size-paragraph-large-desktop);

  line-height: 170%;
}

$font-size-paragraph-medium-desktop: 18px;

.medium {
  $font-size-paragraph-medium-mobile: 16px;

  @include typography-paragraph-medium;
  @include scaling($font-size-paragraph-medium-mobile, $font-size-paragraph-medium-desktop);

  line-height: 170%;
}

$font-size-paragraph-small-desktop: 14px;

.small {
  $font-size-paragraph-small-mobile: 14px;

  @include typography-paragraph-small;
  @include scaling($font-size-paragraph-small-mobile, $font-size-paragraph-small-desktop);

  line-height: 170%;
}
