@import '../styles/colors.scss';
@import '../styles/sizing.scss';
@import '../styles/layout.scss';

.wrapper {
  display: block;
  width: fit-content;

  background-color: $greyscale-transparent;
  color: $greyscale1000;

  cursor: pointer;
  * {
    cursor: pointer;
    user-select: none;
  }
}

.small {
  padding: $sizing-x2;
}

.selected {
  color: $greyscale-inverted;
  background-color: $primary500;
}
